.swraper
{
	display: inline-block;
	
	overflow: hidden !important;
	/*width: 60px;*/
	/*line-height: 20px;*/
	vertical-align: middle;
	position: relative;
	margin: 5px 0;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    z-index: 9;
    cursor: pointer;
    /*-webkit-mask-image: -webkit-radial-gradient(white, black);*/
    box-sizing: content-box !important;
}


.swraper.disabled
{
	opacity: .6;
	cursor: not-allowed;
}

.swraper .stoggler
{
	position: relative;
	text-align: center;
	width: 200%;
	z-index: 1;
	-webkit-transition: all .4s ease-out .1s;
	-moz-transition: all .4s ease-out .1s;
	-o-transition: all .4s ease-out .1s;
	-ms-transition: all .4s ease-out .1s;
	transition: all .4s ease-out .1s;
}

.stoggler, .stoggler span
{
	float: left;
}

.swraper.rtl .stoggler,
.swraper.rtl .stoggler span
{
	float: right;
}

/* clear fix */
.swraper:before, .swraper:after,
.stoggler:before, .stoggler:after
{
	content: "";
	display: table;
	clear: both;
	#zoom: 1;
}

.stoggler .sblob
{
	display: inline-block;
	/*width: 20px;*/
	/*height: 20px;*/
	position: absolute;
	top: 50%;
	left: 50%;
	/*margin-right: -50%;*/
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform:  translate(-50%, -50%);
	transform: translate( -50%, -50%);
}

.stoggler .slabel-on,
.stoggler .slabel-off
{
	width: 50%;
	text-align: center;
	letter-spacing: 2px;
}



/* THEMES */

/* ------------  THEME LIGHT ------------ */
.swraper.light
{
	border-radius: 99px;
	border: 1px solid rgba( 100, 100, 100, .3 );
}

.swraper.light .stoggler
{
	text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
	background: #f5f5f5;
	/*background: -webkit-linear-gradient(#cfcfcf, #f5f5f5);
	background: -o-linear-gradient(#cfcfcf, #f5f5f5);
	background: linear-gradient(#cfcfcf, #f5f5f5);*/
	color: rgba( 0, 0, 0, 0.6 );
	font-size: 10px;
	font-weight: bold;
	font-family: Arial;
}

.swraper.light .stoggler.on
{
	background: #45a31f;
	box-shadow: inset 2px 2px 6px rgba( 0, 0, 0, 0.2 );
	text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
	color: rgba( 255, 255, 255, 0.8 );
}

.swraper.light .stoggler .sblob
{
	border-radius: 99px;
	background: -webkit-linear-gradient( #f5f5f5, #cfcfcf );
	background: linear-gradient( #f5f5f5, #cfcfcf );
	box-shadow: 0 0 4px 1px #999;
}

.swraper.light .stoggler.on .sblob
{
	box-shadow: 0 0 10px -1px #005e00;
}

.swraper.light .stoggler .sblob:hover
{
background: -webkit-linear-gradient(#e4e4e4, #f9f9f9);
background: -o-linear-gradient(#e4e4e4, #f9f9f9);
background: linear-gradient(#e4e4e4, #f9f9f9);
}

.swraper.light .stoggler .slabel-on,
.swraper.light .stoggler .slabel-off{}

/* ------------  END THEME LIGHT ------------ */


/* ------------  THEME MODERN ------------ */
.swraper.modern
{
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.2);	
	background: -webkit-linear-gradient(#c0c5c9, #a1a9af);
	background: -o-linear-gradient(#c0c5c9, #a1a9af);
	background: linear-gradient(#c0c5c9, #a1a9af);
	-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
	        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
}

.swraper.modern .stoggler
{
	background: -webkit-linear-gradient(#737e8d, #3f454e);
	background: -o-linear-gradient(#737e8d, #3f454e);
	background: linear-gradient(#737e8d, #3f454e);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);

	color: white;
	font-size: 9px;
	font-weight: 500;
	font-family: Arial;
}

.swraper.modern .stoggler.on
{
	background: -webkit-linear-gradient(#4894cd, #2852a6);
	background: -o-linear-gradient(#4894cd, #2852a6);
	background: linear-gradient(#4894cd, #2852a6);
}

.swraper.modern .stoggler .sblob
{
	background: -webkit-linear-gradient(#c0c6c9, #81898f);
	background: -o-linear-gradient(#c0c6c9, #81898f);
	background: linear-gradient(#c0c6c9, #81898f);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.swraper.modern .stoggler .sblob:hover
{
	background-image: -webkit-linear-gradient(#a1a9af, #a1a9af);
	background-image: -o-linear-gradient(#a1a9af, #a1a9af);
	background-image: linear-gradient(#a1a9af, #a1a9af);
}

.swraper.modern .stoggler .slabel-on, .swraper.modern .stoggler .slabel-off{}

/* ------------  END THEME MODERN ------------ */

/* ------------  THEME DARK ------------ */
.swraper.dark
{
	border-radius: 5px;
}

.swraper.dark .stoggler
{
	background: -webkit-linear-gradient(#242529 0%, #34363b 100%);
	background: -o-linear-gradient(#242529 0%, #34363b 100%);
	background: linear-gradient(#242529 0%, #34363b 100%);

	color: rgba(255, 255, 255, 0.7);
	font-size: 9px;
	font-weight: 500;
	font-family: Arial;
}

.swraper.dark .stoggler.on
{
	background: -webkit-linear-gradient(#1a70be 0%, #31a2e1 100%);
	background: -o-linear-gradient(#1a70be 0%, #31a2e1 100%);
	background: linear-gradient(#1a70be 0%, #31a2e1 100%);
}

.swraper.dark .stoggler .sblob
{
	color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	background: -webkit-linear-gradient(#cfcfcf 0%, #f5f5f5 100%);
	background: -o-linear-gradient(#cfcfcf 0%, #f5f5f5 100%);
	background: linear-gradient(#cfcfcf 0%, #f5f5f5 100%);
	-webkit-box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
	        box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;

}

.swraper.dark .stoggler .sblob:hover
{
	background: -webkit-linear-gradient(#c0c0c0 0%, #dadada 100%);
	background: -o-linear-gradient(#c0c0c0 0%, #dadada 100%);
	background: linear-gradient(#c0c0c0 0%, #dadada 100%);
	-webkit-box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
	        box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
}

.swraper.dark .stoggler .slabel-on, .swraper.dark .stoggler .slabel-off{}

/* ------------  END THEME DARK ------------ */


/* ------------  THEME FLAT ------------ */

.swraper.flat
{
	border-radius: 4px;
	border: 1px solid #c6c5c5;
}

.swraper.flat .stoggler
{
	background: #b2b2b2;
	color: #ffe;
	font-size: 11px;
}


.swraper.flat .stoggler.on
{
	background: #76bc43;
	color: #ffe;
}

.swraper.flat .stoggler .sblob
{
	border-radius: 3px;
	background: #f1f1f1;
	border: 1px solid #e6e5e5;
	box-shadow: 0 0 8px 1px #888;

}

.swraper.flat .stoggler.on .sblob
{
	box-shadow: 0 0 10px -1px #337733;
}

.swraper.flat .stoggler .sblob:hover{}

.swraper.flat .stoggler .slabel-on:before, .swraper.flat .stoggler .slabel-off:before{}

/* ------------  END THEME Flat ------------ */

/* ------------  THEME Yellowish-green ------------ */
.swraper.yellowish-green
{
	border-radius: 99px;
	border: 2px solid #58d30b;
}

.swraper.yellowish-green .stoggler
{
	color: rgba( 0, 0, 0, 0.6 );
}

.swraper.yellowish-green .stoggler.on
{
}

.swraper.yellowish-green .stoggler .sblob
{
	border-radius: 99px;
	background: #ff8700;
	transition: background linear .5s;
}

.swraper.yellowish-green .stoggler.on .sblob
{
	background: #58d30b;
}

.swraper.yellowish-green .stoggler .sblob:hover
{
	background: #0bcfd3;
}

/* ------------  END THEME yellowish-green ------------ */
