.scrollup {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: $yellow-dark;
  color: $white;
  background-position: center;
  z-index: 999;
  display: none;
  text-align: center;
  transition: all .4s ease;

  @media (min-width: 300px) and (max-width: 767px) {
    bottom: 30px;
    right: 10px;
  }

  &:hover {
    color: $white !important;
  }

  .fas {
    transition: all .4s ease;
  }

  &:hover .fas {
    font-size: $font-16;
    color: $white !important;
  }
}
