.next-btn {
  width: 100%;
  font-size: $font-14;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  color: $white;
  padding: 0.6rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  transition: all 0.4s;

  i {
    transition: all 0.2s;
  }

  &:hover i {
    margin-left: 5px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: $font-10;
    font-weight: 400;
  }
}

.send-btn,
.quicktour-btn {
  font-size: $font-22;
  font-family: 'Hobo Std Medium', Roboto;
  text-align: center;
  text-transform: capitalize;
  cursor: default;
  color: $white;
  background-color: $red-drak;
  padding: 0.5rem 3rem;
  border-style: solid;
  border-width: 1px;
  border-color: $red-drak;
  border-radius: $light-radious;
  transition: all 0.4s;

  &:hover {
    color: $white;
    border-color: $red-light;
    background-color: $red-light;
  }
}

.send-btn {
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: $font-10;
    font-weight: 400;
  }
}

.details-btn {
  font-size: $font-24;
  color: $white;
  text-align: center;
  border-radius: $light-radious;

  @media (min-width: 300px) and (max-width: 991px) {
    width: 100%;
  }
}

.fb-btn {
  font-weight: 400;
  @include roboto-font;
  background-color: $fb-dark;
  padding: 0.5rem 2rem;
  transition: all 0.2s;

  @media (min-width: 300px) and (max-width: 991px) {
    padding: 0.5rem 1rem;
  }

  &:hover {
    color: $white;
    background-color: $fb-light;
  }
}

.email-btn,
.phone-btn {
  font-weight: 400;
  font-family: 'Hobo Std Medium', Roboto;
  background-color: $red-drak;
  padding: 0.8rem 6.3rem;
  transition: all 0.2s;

  @media (min-width: 300px) and (max-width: 991px) {
    padding: 0.8rem 2rem;
  }

  i {
    margin-right: 1rem;
  }

  &:active,
  &:hover {
    color: $white;
    background-color: $red-light;
  }
}

.email-btn {
}

.phone-btn {
}

.custom-radio_btn {

  .form-group {
    background-color: $white;
    display: block;
    margin-top: -2rem;
    position: relative;

    label {
      width: 100%;
      font-size: $font-20;
      @include roboto-font;
      font-weight: 400;
      text-align: center;
      text-transform: capitalize;
      padding: 0.5rem 2rem 0.8rem 2rem;
      display: block;
      color: $gray-10;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: $gray-10;
      background-color: $gray-9;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: $yellow-dark;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        background-color: $yellow-dark;
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: $white;
      border-color: $yellow-dark;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: $yellow-dark;
        border-color: $yellow-dark;
      }
    }

    input {
      order: 1;
      z-index: 2;
      cursor: pointer;
      visibility: hidden;
    }
  }
}
