.searchdd {
  width: 100%;
  border: 1px solid $gray-4;
  border-radius: $light-radious;

  &-ctrl {
    width: 100%;
    height: 8rem;
    background-color: $gray-2;
    padding: 0 0 0 2rem;
    font-size: $font-32;
    font-family: 'Hobo Std Medium', Roboto;
    color: $gray-4;
    border-color: $gray-4;
    border-radius: $light-radious;
    box-shadow: unset !important;

    &:focus {
      outline: 0 !important;
      outline-color: transparent !important;
      outline-width: 0 !important;
      outline-style: none !important;
      border-color: $gray-4;
      box-shadow: unset !important;
    }
  }

  select.searchdd-ctrl {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: url(../img/icons/arrow-down-red.png) $gray-2;
    background-repeat: no-repeat;
    background-position: center right;
  }
}

