.help-wrap {
  z-index: 999;
  position: fixed;
  bottom: 50px;
  left: 30px;

  @media (min-width: 300px) and (max-width: 767px) {
    bottom: 30px;
    left: 10px;
  }

  &_btn {
    font-size: $font-20;
    font-family: 'Hobo Std Medium', cursive;
    color: $white;
    background-color: $red-drak;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    transition: all 0.4s;

    @media (min-width: 300px) and (max-width: 767px) {
      padding: 0;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 100%;
    }

    &:hover {
      color: $white;
      background-color: $red-light;
    }
  }
}

.help-content {
  width: 25rem;
  max-height: 100%;
  background-color: $red-drak;
  padding: 2rem 0.5rem 0 0.5rem;
  border-radius: 5px;
  z-index: 99999;
  border: 4px solid $red-drak;
  position: fixed;
  bottom: 100px;
  left: 30px;
  transition: all 0.2s;

  @media (min-width: 300px) and (max-width: 767px) {
    bottom: 80px;
    left: 10px;
  }

  &:after {
    content: '';
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid $red-drak;
    position: absolute;
    bottom: -24px;
    left: 10px;
  }

  &_title {
    background-color: $white;
    padding: 1rem 0 0.5rem 0;
    border-radius: 5px;

    h2 {
      font-size: $font-24;
      font-family: 'Hobo Std Medium', cursive;
      color: $red-drak;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &_item {
    padding: 1.5rem;

    &-link {
      background-color: $white;
      padding: 1rem 0 0.5rem 0;
      border-radius: 5px;
      font-size: $font-18;
      font-family: 'Hobo Std Medium', cursive;
      color: $red-drak;
      text-align: center;
      display: block;
      transition: all 0.2s;

      &:hover {
        color: $red-light;
      }
    }

    a.help-content_item-link {margin-bottom: 1rem}
  }

  &_inner {
    position: relative;
  }
}

.close-x {
  position: absolute;
  background-color: $red-drak;
  color: #fff;
  top: -38px;
  right: -18px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  @include roboto-font;
  font-weight: 700;
  border: 2px solid $red-light;
}

