.newsletter {
  padding: 3rem 0;
  background-color: $red-light;

  &-outer {
    padding: 3rem 2rem;
    background-color: $white;
    border-radius: 5px;
  }

  &-inner {
    h2 {
      font-size: $font-32;
      font-family: 'Hobo Std Medium', Roboto;
      color: $gray-4;
      text-align: center;

      @media (min-width: 300px) and (max-width: 420px) {
        font-size: $font-24;
      }
    }

    .input-group {
      position: relative;

      .form-control {
        font-size: $font-18 !important;
        font-weight: 400;
        color: $gray-4 !important;
        background-color: transparent !important;
        box-shadow: unset !important;
        padding: 2.5rem 2rem 2.5rem 4.5rem !important;
        border-radius: 5px;
        border-color: $red-drak !important;

        &::-webkit-input-placeholder {
          text-transform: capitalize;
          color: $gray-4;
          text-align: left;
          display: block;
        }
      }

      .email-icon {
        padding: 1.7rem;
        position: absolute;
        left: 0;

        i {
          font-size: $font-18;
          color: $gray-4;
        }
      }
    }

    &_btn {
      font-size: $font-16;
      font-family: 'Hobo Std Medium', Roboto;
      text-align: center;
      text-transform: uppercase;
      display: block;
      color: $white;
      background-color: $red-drak;
      padding: 0.5rem 2rem 0.3rem 2rem;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.4s;

      &:hover {
        color: $white;
        background-color: $red-light;
      }
    }
  }
}
