.footer {
  height: 100%;
  width: 100%;
  padding: 4rem 0 0 0;

  &-top {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: 100% 100%;
    height: 206px;

    @media (min-width: 992px) and (max-width: 1199px) {
      height: 192px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      height: 172px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      height: 163px;
    }

    @media (min-width: 461px) and (max-width: 575px) {
      height: 148px;
    }

    @media (min-width: 300px) and (max-width: 460px) {
      height: 120px;
    }

    @media (min-width: 300px) and (max-width: 767px) {
      background-size: 112% 100%;
    }
  }

  &-middle {
    padding: 3rem 0;
    background-color: $red-light;

    &_logo {
      width: 185px;
      height: auto;
      margin-bottom: .5rem;
    }

    &_about {
      font-size: $font-16;
      @include roboto-font;
      font-weight: 400;
      color: $white;
      text-align: left;
    }

    &_quick-head,
    &_touch-head {
      font-size: $font-20;
      @include roboto-font;
      color: $white;
      text-align: center;
      text-transform: capitalize;
      padding: 1rem 2rem;
      border: 1px solid $white;
      border-radius: 6px;

      @media (min-width: 992px) and (max-width: 1199px) {
        padding: 1rem;
      }
    }

    &_quick-head {

    }

    &_quick-body,
    &_touch-body {
      .list-group-item {
        padding: .5rem 1.25rem;
        background-color: transparent;
        border: 0;
      }
    }


    &_quick-link,
    &_touch-link {
      font-size: $font-14;
      @include roboto-font;
      color: $white;
      text-align: left;
      -webkit-transition: all .6s ease;
      transition: all .6s ease;

      &:hover {
        margin-left: 1rem;
        color: $yellow-dark;
      }
    }

    &_touch-head,
    &_touch-body {
      margin-left: 5rem !important;

      @media (min-width: 992px) and (max-width: 1199px) {
        margin-left: 2rem !important;
      }

      @media (min-width: 300px) and (max-width: 991px) {
        margin-left: 0 !important;
      }
    }

    &_touch-head {
      width: 65%;

      @media (min-width: 300px) and (max-width: 991px) {
        width: 100%;
      }
    }

    &_touch-body {}

    &_touch-link {}

    &-newsletter {

      &_head {
        font-size: $font-20;
        @include roboto-font;
        font-weight: 700;
        color: $white;
        text-align: left;
      }

      .input-group {
        position: relative;

        .form-control {
          font-size: $font-16;
          color:  $white;
          background-color: transparent !important;
          padding: 2.5rem 0 2.5rem 3rem !important;
          border: 1px solid $white !important;
          border-radius: 5px !important;

          @media (min-width: 992px) and (max-width: 1119px) {
            padding: 2.5rem 0 2.5rem 1rem !important;
          }

          &::-webkit-input-placeholder {
            font-size: $font-20;
            font-weight: 300;
            color:  $white;
            text-transform: capitalize;
            text-align: left;
          }

          &:focus {
            outline: 0 !important;
            outline-color: transparent !important;
            outline-width: 0 !important;
            outline-style: none !important;
            border-color: transparent;
            box-shadow: unset !important;
          }
        }

        .email-icon {
          background-color: $white;
          padding: 1.3rem !important;
          position: absolute;
          right: 0;
          border-radius: 6px;

          i {
            font-size: $font-24;
            color: $red-drak;
          }
        }
      }
    }
  }

  &-bottom {
    background-color: $red-drak;

    &_copyright {
      font-size: $font-16;
      @include roboto-font;
      color: $white;
      text-align: center;
      padding: 2rem 0 1rem 0;
    }
  }
}
