header {
  position: relative;

  @media screen and (min-width: 768px) {
    .bg-video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      //opacity: .15;
      overflow: hidden;

      &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .hero-attention {
    padding-top: 50rem;
    color: $white;

    @media (min-width: 300px) and (max-width: 767px) {
      padding-top: 10rem;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      padding-top: 9rem;
    }

    &_title {
      font-size: $font-56;
      font-family: 'Hobo Std Medium', Roboto;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (min-width: 576px) and (max-width: 991px) {
        letter-spacing: 1px;
        font-size: $font-32;
      }

      @media (min-width: 420px) and (max-width: 575px) {
        font-size: $font-28;
        letter-spacing: 0;
      }

      @media (min-width: 300px) and (max-width: 419px) {
        font-size: $font-24;
        letter-spacing: 0;
      }
    }

    .list-group-item {
      font-size: $font-24;
      @include roboto-font;
      font-weight: 300;
      text-transform: capitalize;
      padding: 0 !important;
      border: 0 !important;
      background-color: transparent !important;

      @media (min-width: 576px) and (max-width: 991px) {
        letter-spacing: 1px;
        font-size: $font-16;
      }

      @media (min-width: 420px) and (max-width: 575px) {
        font-size: $font-16;
        letter-spacing: 0;
      }

      @media (min-width: 300px) and (max-width: 419px) {
        font-size: $font-14;
        letter-spacing: 0;
      }

      span {
        font-size: $font-18;
        margin-right: 2rem;

        @media (min-width: 576px) and (max-width: 991px) {
          font-size: $font-14;
          margin-right: 1rem;
        }

        @media (min-width: 420px) and (max-width: 575px) {
          font-size: $font-14;
          margin-right: 0.5rem;
        }

        @media (min-width: 300px) and (max-width: 419px) {
          font-size: $font-12;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .hero-attention_mobile {
    text-align: center !important;
    color: $white;

    @media (min-width: 300px) and (max-width: 767px) {
      padding-top: 9rem;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      padding-top: 8rem;
    }

    &-title {
      font-size: $font-24;
      font-family: 'Hobo Std Medium', Roboto;
    }

    &-text {
      font-size: $font-20;
      @include roboto-font;
      line-height: 1.4;
    }
  }

  .hero-form_wrap {
    padding-top: 12rem;

    @media (min-width: 576px) and (max-width: 767px) {
      padding-top: 5rem;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      padding-top: 3rem;
    }

    &-content {
      padding: 2.5rem 2.5rem 0.5rem 2.5rem;
      background-color: rgba(0,0,0,0.5);

      #lost-form-link,
      #found-form-link {
        font-size: $font-16;
        @include roboto-font;
        font-weight: 700;
        color: $white;
        cursor: pointer;
        text-transform: capitalize;
        text-decoration: none;
        padding: 0.4rem 2rem 0.6rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        transition: all 0.4s;

        @media (min-width: 300px) and (max-width: 575px) {
          font-size: $font-14;
        }
      }

      #lost-form-link {
        border-color: $red-drak;
        &:hover {
          border-color: $red-light;
          background-color: $red-light;
        }
      }

      .active#lost-form-link {
        border-color: $red-drak;
        background-color: $red-drak;
      }

      #found-form-link {
        border-color: $yellow-dark;

        &:hover {
          border-color: $yellow-light;
          background-color: $yellow-light;
        }
      }

      .active#found-form-link {
        border-color: $yellow-dark;
        background-color: $yellow-dark;
      }

      .form-group {
        margin-bottom: 1.5rem;
      }

      .form-group.cross_street,
      .form-group.zip,
      .form-group.lost-cross_street,
      .form-group.lost-zip {
        margin-bottom: 0;
      }

      .form-group.cross_street,
      .form-group.lost-cross_street {

        @media (min-width: 300px) and (max-width: 991px) {
          margin-bottom: 1.5rem;
        }
      }

      .form-group.file-upload {
        position: relative;
        overflow: hidden;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 3rem 4rem;

        .file {
          font-size: $font-14;
          font-weight: 400;
          color: $white;
          padding: 0.5rem;
          border-radius: 6px;
          width: 12rem;
          display: block;
          margin-left: auto;
          margin-right: auto;
          cursor: default;
          text-align: center;
          text-transform: capitalize;
          transition: all 0.4s;

          &:hover {
            background-color: $yellow-light;
          }
        }

        #file,
        #lost-file {
          position: absolute;
          font-size: 50px;
          opacity: 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .input-ctrl {
        font-size: $font-14;
        color: $white;
        background-color: transparent;
        box-shadow: unset;
        padding: 1.6rem 1rem !important;
        border-radius: 8px;

        &::-webkit-input-placeholder {
          text-transform: capitalize;
          color: $white;
          text-align: center;
          display: block;
        }
      }

      .nearest-map {
        position: relative;
        min-height: 9rem;
        width: 100%;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      #cross_street.input-ctrl,
      #email.input-ctrl,
      #found-password.input-ctrl,
      #found_name.input-ctrl,
      #lost-name.input-ctrl,
      #lost-cross_street.input-ctrl,
      #lost-email.input-ctrl,
      #lost-password.input-ctrl,
      #phone.input-ctrl,
      #lost-phone.input-ctrl {

        &::-webkit-input-placeholder {
          text-align: left !important;
        }
      }
    }

    .form-group.form-group_next {
      margin-top: 0.5rem;
      width: 100%;
    }

    #lost-form {
      .input-ctrl,
      .file-upload {
        border-color: $red-drak;
        .file {
          background-color: $red-drak;
        }
      }

      .nearest-map {
        border-color: $red-drak !important;
      }

      .next-btn {
        background-color: $red-drak;
        border-color: $red-drak;

        &:hover {
          color: $white;
          background-color: $red-light;
          border-color: $red-light;
        }
      }
    }

    #found-form {
      .input-ctrl,
      .file-upload {
        border-color: $yellow-dark;
        .file {
          background-color: $yellow-dark;
        }
      }

      .nearest-map {
        border-color: $yellow-dark!important;
      }

      .next-btn {
        background-color: $yellow-dark;;
        border-color: $yellow-dark;;

        &:hover {
          color: $white;
          background-color: $yellow-dark;;
          border-color: $yellow-dark;;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header.masthead {
    color: $white;
    background: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
}

