// Styling for the navbar
#mainNav {

  @media (min-width: 300px) and (max-width: 991px) {
    background-color: $white;
    box-shadow: $light-shadow;
  }

  .navbar-toggler {
    font-size: $font-12;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $red-drak;
    @include roboto-font;
  }

  .navbar-brand {
    color: $yellow-dark;
    @include roboto-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($yellow-dark, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      margin-left: 1rem;
      .nav-link {
        font-size: $font-16;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $white;
        @include roboto-font;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        @media (min-width: 300px) and (max-width: 991px) {
          color: $gray-700;
        }

        &.active,
        &:hover {
          color: $white;
          background-color: $red-drak;
          border-color: $red-drak;
          border-radius: $light-radious !important;

          @media (min-width: 300px) and (max-width: 991px) {
            color: $red-drak;
            background-color: transparent;
            border-color: transparent;
            border: unset;
            border-radius: 0;
          }
        }
      }

      .report-outline {
        border-color: $white;
        border: 1px solid;
        border-radius: $light-radious !important;

        @media (min-width: 300px) and (max-width: 991px) {
          border-color: transparent;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}
@media(min-width:992px) {

  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: .2em 1.5em .5rem!important;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white !important;
      box-shadow: $light-shadow !important;

      .navbar-nav {

        &:not(:first-child) {
          margin-left: 1rem;
        }

        .nav-item {
          .nav-link {
            color: $gray-700 !important;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;

            &.active,
            &:hover {
              color: $white !important;
              background-color: $red-drak;
              border-color: $red-drak;
              border-radius: $light-radious !important;
            }
          }

          .report-outline {
            border-color: $red-drak !important;
          }
        }
      }

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
