.except-home {
  //padding: 2rem 0;
  background-color: $white !important;
  box-shadow: $nav-shadow !important;

  .navbar-toggler {
    font-size: $font-12;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $red-drak;
    @include roboto-font;
  }

  .navbar-brand {
    color: $yellow-dark;
    @include roboto-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($yellow-dark, 10%);
    }
  }
  .navbar-nav {
    @media (min-width: 300px) and (max-width: 991px) {
      //margin-top: 2rem;
    }
    .nav-item {
      margin-left: 1.5rem;

      @media (min-width: 300px) and (max-width: 991px) {
        margin-left: 1rem;
      }

      .nav-link {
        font-size: $font-14;
        font-weight: 400;
        padding: 0.5em 1em;
        letter-spacing: 0;
        color: $gray-700;
        //background-color: $red-drak;
        border-style: solid;
        border-width: 1px;
        //border-color: $red-drak;
        border-color: transparent;
        border-radius: $light-radious !important;
        @include roboto-font;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        @media (min-width: 300px) and (max-width: 991px) {
          color: $gray-700;
          background-color: $white;
          border-color: transparent;
        }

        &:active,
        &:hover {
          color: $white;
          background-color: $red-light;

          @media (min-width: 300px) and (max-width: 991px) {
            color: $red-light;
            background-color: $white;
          }
        }

      }

      .active {
        color: $white !important;
        background-color: $red-drak !important;
        border-color: $red-drak !important;
      }

      .report-outline {
        color: $red-drak;
        border-color: $red-drak;
        background-color: $white;

        @media (min-width: 300px) and (max-width: 991px) {
          color: $red-drak !important;
          border-color: transparent;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}
