@charset "UTF-8";
.pointer{
  cursor: pointer !important;
}
.profile-links-list i{
    margin-right: 5px;
    color: #919fa9; 
}
.profile-links-list span{
    width: 30px;
    text-align: center;
    position: relative;
    display: inline-flex;
}
.pin_remarks{
    padding: 0px 15px 15px;
    border-bottom: 1px solid #d8e2e7;
    margin-bottom: 15px;
}
.pin_check{
    color: #7a7a7a;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 2px;
    font-size: 12px;
}
.pin_check label{
    font-size: 12px !important;
}
.remarks_details{
    cursor: pointer;
    color: #b5b5b5;
    margin: 0px 5px;
    border: 1px solid #eaeaea;
    padding: 1px 2px 0px 7px;
    font-size: 13px;
    border-radius: 50%;
}
.remarks_edit{
    cursor: pointer;
    color: #b5b5b5;
    margin: 0px 0px;
    border: 1px solid #eaeaea;
    padding: 2px 0px 0px 5px;
    font-size: 13px;
    border-radius: 50%;
}
.remarks_footer{
    margin-bottom: 10px;
}
.person_info .profile-card{
    padding: 0px 15px; 
    text-align: left; 
    padding-bottom: 10px
}
.person_info .profile-card-location{
    margin: 5px 0;
}
.activity{
    max-height: 400px;
    overflow-y: auto;
}
.activity::-webkit-scrollbar,
.enrollments .enroll-remarks::-webkit-scrollbar,
.tab-pane::-webkit-scrollbar{
        width: 5px;
}
.activity::-webkit-scrollbar-thumb,
.enrollments .enroll-remarks::-webkit-scrollbar-thumb,
.tab-pane::-webkit-scrollbar-thumb {
    background: #00a8ff;
    border-radius: 5px;
}
.fa-thumb-tack{
    cursor: pointer;
    color: #00a8ff;
}
.fa-rotate-45 {
    color: #707070 !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.comment-row-item {
    padding: 5px 15px;
    font-size: 14px;
}
.comment-row-item .comment-row-item-content {
    padding: 0 0px 6px 0 !important;
}
.tbl-cell-name {
    color: #000000;
    font-weight: 400 !important;
}
.tbl-cell-name i{
    margin-right: 3px;
}
.text-thin{
    color: #888888;
    font-weight: 300 !important;
}
.remarks hr{
    margin:5px 15px;
}
ul.pagination {
    margin:10px 15px 25px;
}

ul.pagination li {
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

ul.pagination li a {

    color: black;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #eceff4;
    border-radius: 50%;
    margin: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    padding: 10px 15px;
    margin: 4px;
    color: white;
    border: 1px solid #eceff4;
    border-radius: 50%;
    cursor: default;
}

ul.pagination li.active {
    background: #00a8ff;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 50%;
    margin: 5px;
}

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {background-color: #eceff4;}

ul.pagination li.disabled {
    color: #a9a9a9;
    padding: 10px 15px;
    border: 1px solid #eceff4;
    border-radius: 50%;
    margin: 4px;
    cursor: default;
}
ul.pagination li span {
    cursor: default;
}

.set_image,
.img_form{
    font-size: 26px;
    color: #00a8ff;
    text-shadow: 0px 1px 3px #e9e9e9;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
}
.profile-card-photo{
    height: auto !important;
}
.mail_btn{
    margin:0px 5px;
}
.user_inactive{
    opacity: 0.6;
}
.tbl-row{
    margin-bottom: 10px;
}
.status_edit{
    background: #ffffff;
    line-height: 1.0;
    padding: 3px 5px;
    color: #aa55ff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 1px 4px #c07fff;
}

.enrollments{
    padding: 5px;
}
.enrollments table{
    width: 100%;
    border-radius: 5px;
}
.enrollments table td.text-center{
    text-align: center;
}
.enrollments table .enroll-info{    
    width: 50%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #fff;
}
.enrollments table .condition{
    width: 100%;
    padding: 5px;
}
.enrollments table .priority{
    padding: 7px;
    font-weight: 700;
}
.enrollments table td.min-width{
    min-width: 200px;
}
.enrollments .enroll-remarks{
    padding: 4px;
    height: 100px;
    width: 400px;
    overflow-y: auto;
}
.enrollments .add-remarks{
    border-top: 1px solid #fff;
    padding: 4px;
}
.enrollment_header i{
  color: #9e9fa9;
}
.pad-0{
    padding: 0px !important;
}

.lead_task{
    position: absolute;
    bottom: 30px;
    right: -30px;
    cursor: pointer;
}

.fa-star{
    color: #cccccc;
}
.fa-star.active{
    color: #f29824 !important;
}

.box-typical .box-typical-footer.custom {
    padding: 5px 15px  !important;
    font-size: 14px !important;
}


.circular-menu {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 999;
}

.circle {
    width: 150px;
    height: 150px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle span {
  text-decoration: none;
  color: #df0023;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  z-index: 999;
  text-shadow: 0px 2px 7px #a09898;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle span:hover {
  color: #070606;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  color: #070606;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #eef;
}

.tab-pane{
  height: 317px;
  overflow-y: auto;
}

.people-rel-list .people-rel-list-photos img {
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

.user-online{
  box-shadow: 1px 3px 7px #46c35f;
  border: 1px solid #46c35f;
  opacity: 1;
}

.user-offline{
  box-shadow: 1px 3px 7px #828883;
  border: 1px solid #d2d2d2;
  opacity: .4;
}

.visitor{
  cursor: pointer;
}