@charset "UTF-8";
body{
  background: #f2f3f5 !important;
}
.sign-logo-box{
	position: relative;
	margin: -20px;
	background-color: #42484B;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px 5px 0px 0px;
}
.sign-logo-box a{
	text-decoration: none;
	border-bottom: none;
}

.with-sub ul li a{
	padding-left: 45px;
} 

.alert-with-icon .alert .font-icon{
	top: 2px;
}

.btn.btn-inline {
    margin-top: 8px !important;
}

.btn-icon{
	margin-right: 8px;
    padding: 4px 3px 3px 7px;
    border-radius: 50%;
    line-height: 1.6;
}
.btn-icon-right {
    margin-left: 8px;
    padding: 4px 6px 4px 8px;
    border-radius: 50%;
    line-height: 1.6;
}

.btn-secondary .btn-icon,
.btn-secondary .btn-icon-right{
    background: #496479;
}
.btn-success .btn-icon,
.btn-success .btn-icon-right{
    background: #03b126;
}

span.btn,
form.btn{
	cursor: pointer;
}

a.disable-link{
    cursor: default;
    pointer-events: none;
}

.form-group.doc{
    width: 95%;
}
.document_list{
    margin-left: 20px;
    margin-top: 15px;
    list-style: circle;
}
.document_list li.box{
    background: #eceff4;
    padding: 15px;
    padding-top: 0px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.document_list li input.first{
    margin-top: -30px;
}
.document_list li span.btn{
    margin-top: -8px !important;
    height: 38px;
    line-height: 2.2;
}
.document_list li .remove{
    position: relative;
    float: right;
    right: -11px;
    cursor: pointer;
    color: red;
}
.modal-body {
    background: #d8e2e7;
}
.modal-body .tbl{
    background: #fff;
}
.modal-body .tbl-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    border: 1px solid #d8e2e7;
}
.modal-body .tbl-cell-lbl {
    width: 30%;
    font-weight: 700;
}
.modal-body .list .tbl-cell-lbl{
    vertical-align: top;
}
.modal-body .list ul{
    list-style: square;
    margin-left: 15px;
}
.modal-body .list ul ul li{
    list-style: circle;
    margin-left: 15px;
}

.btn-group .btn{
    cursor: pointer;
}

@font-face {
    font-family: 'fa-viber';
    src:url('viber_fonts/fa-viber.eot?-3dwksg');
    src:url('viber_fonts/fa-viber.eot?#iefix-3dwksg') format('embedded-opentype'),
        url('viber_fonts/fa-viber.ttf?-3dwksg') format('truetype'),
        url('viber_fonts/fa-viber.woff?-3dwksg') format('woff'),
        url('viber_fonts/fa-viber.svg?-3dwksg#fa-viber') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa-viber:before {
    font-family: 'fa-viber';
    content: "\e666";
}
textarea{
    resize: vertical !important;
    overflow: hidden !important;
}
.input-group-addon select{
    border: 1px solid #d8e2e7 !important;  
}

.rate {
    border: 1px solid #d6e2e8;
    float: left;
    height: 46px;
    padding: 0 10px;
    border-radius: 4px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.side-menu li.active{
    background-color: #ecf2f5;
}
.view_footer{
    font-size: 13px;
    margin-top: 10px;
    color: #266b8e;
}
.modal_view,
.modal_input,
.remarks_view,
.file_view{
    cursor: pointer !important;
}

.holiday .checkbox{
    display: table-cell;
    padding-right: 15px;
}

.holiday .checkbox input+label{
    padding: 0 0 0 20px !important;
}

.text-bold{
    font-weight: 600 !important;
    color: #1d1a1a;
}

.site-header .site-header-collapsed .site-header-collapsed-in {
    margin-right: 0px !important;
    display: inline-block;
}
.site-header .site-header-content .site-header-content-in {
    margin-left: 225px !important;
}

.autocomplete {
  position: relative;
  display: block;
}
.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.autocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.note-editable{
  height: 200px;
}

.action-buttons{
  display: flex;
  align-items: center;
}

.action-buttons button:first-child{
  border: 0;
  outline: 0;
  background: #28a745;
  color: #fff;
  padding: 4px 8px;
}

.action-buttons button:last-child{
  border: 0;
  outline: 0;
  background: #dc3545;
  color: #fff;
  padding: 4px 8px;
  margin-left: 10px;
}