.ui-timepicker-container {
  position:absolute;
  overflow:hidden;
  box-sizing:border-box
}
.ui-timepicker,.ui-timepicker-viewport {
  box-sizing:content-box;
  height:205px;
  display:block;
  margin:0
}
.ui-timepicker {
  list-style:none;
  padding:0 1px;
  text-align:center
}
.ui-timepicker-viewport {
  padding:0;
  overflow:auto;
  overflow-x:hidden
}
.ui-timepicker-standard {
    font-size: 1.1em;
    background-color: #FFF;
    border: 1px solid #d6e2e8;
    color: #222;
    margin: 0;
    z-index: 99 !important;
    padding: 2px;
}
.ui-timepicker-standard a {
  border:1px solid transparent;
  color:#222;
  display:block;
  padding:.2em .4em;
  text-decoration:none
}
.ui-timepicker-standard .ui-state-hover {
  background-color: #eceff4;
  border: 1px solid #d6e2e8;
  font-weight:400;
  color: #212121;
  background: none !important;
}
.ui-timepicker-standard .ui-menu-item {
  margin:0;
  padding:0
}
.ui-timepicker-corners,.ui-timepicker-corners .ui-corner-all {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px
}
.ui-timepicker-hidden {
  display:none
}
.ui-timepicker-no-scrollbar .ui-timepicker {
  border: none
}
/*# sourceMappingURL=jquery.timepicker.min.css.map */