.about {
  padding: 3.5rem 0;

  &-title_sub {
    border-bottom: 1px solid $red-drak;
    margin-bottom: 2rem;
    padding: 0;
    letter-spacing: 5px;
    font-weight: bold;

    span {
      font-size: $font-46;
      font-family: 'Hobo Std Medium', Roboto;
      color: $red-drak;
      border-bottom: 2px solid $red-light;
      display: inline-block;
      padding-bottom: 5px;

      @media (min-width: 576px) and (max-width: 1199px) {
        font-size: $font-36;
      }
    }
  }

  &-details {
    &_text {
      font-size: $font-20;
      @include roboto-font;
      line-height: 1.4;
      font-weight: 400;
      text-align: justify;
    }

    &_list {
      &_item {
        font-size: $font-20;
        @include roboto-font;
        line-height: 1.4;
        font-weight: 400;
        text-align: justify;

        img {
          width: 20px;
          height: 20px;
          margin-right: 1rem;
        }
      }
    }
  }
}
