.contact {
  //padding: 3.5rem 0;
  padding: 0 0 3.5rem 0;

  &-bg {
    height: 55vh;
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 80%);
      height: 55vh;
    }
  }

  &-title {
    border-bottom: 1px solid $red-drak;
    margin-bottom: 2rem;
    padding: 0;
    letter-spacing: 5px;
    font-weight: bold;

    span {
      font-size: $font-28;
      font-family: 'Hobo Std Medium', Roboto;
      color: $red-drak;
      border-bottom: 2px solid $red-light;
      display: inline-block;
      padding-bottom: 5px;

      @media (min-width: 576px) and (max-width: 1199px) {
        font-size: $font-36;
      }
    }
  }

  &-form {
    margin-top: 5rem;

    .form-group {
      position: relative;

      .form-control {
        font-size: $font-16;
        @include roboto-font;
        font-weight: 400;
        text-align: left;
        color: $gray-10;
        background-color: $gray-13;
        box-shadow: unset;
        padding: 2.2rem 1.5rem;
        border-radius: 5px;
        border-color: $red-drak;
        margin-bottom: 2rem;

        &::-webkit-input-placeholder {
          text-transform: capitalize;
          color: $gray-10;
          text-align: left;
          display: block;
        }

        &:focus {
          outline: 0 !important;
          outline-color: transparent !important;
          outline-style: none !important;
          border-color: $red-drak;
          box-shadow: unset !important;
        }
      }

      &_textarea {
        padding: 2rem 2rem !important;
      }

      .send-btn {
        float: right;
      }
    }
  }

  .vertical-line {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 45vh;

    @media (min-width: 992px) and (max-width: 1366px) {
      height: 50vh;
    }
  }

  &-touch {
    margin-top: 5rem;

    &_body {

      .list-group-item {
        border: 0 !important;
        background-color: transparent !important;
        margin-bottom: 1rem;

        @media (min-width: 768px) and (max-width: 991px) {
          margin-bottom: 0.5rem;
        }
      }
    }

    &_link {
      font-size: $font-24;
      @include roboto-font;
      color: $black;
      transition: all 0.2s;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: $font-22;
      }

      i {
        margin-right: 1rem;

        @media (min-width: 768px) and (max-width: 991px) {
          margin-right: 0.5rem;
        }
      }

      &:hover {
        color: $red-drak;
      }
    }
  }

  &-faq {
    margin-top: 15rem;

    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 10rem;
    }

    @media (min-width: 300px) and (max-width: 767px) {
      margin-top: 5rem;
    }

    p {
      font-size: $font-24;
      @include roboto-font;
      font-weight: 400;
      line-height: 1.4;
      text-align: justify;
      color: $black;

      a {
        color: $red-drak !important;
        transition: all 0.2s;

        &:hover {
          color: $red-light !important;
        }
      }
    }
  }

  &-eye {
    margin-top: 5rem;

    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: $dark-shadow-hover;
    }

    img {
      width: 100%;
      height: auto;
      opacity: 0.8;
      transition: all 0.4s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
