.faq {
  padding: 3.5rem 0;

  &-bg {
    background: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url('../img/faqbg.png');;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-size: cover;
    height: 423px;
    margin-bottom: 5rem;
  }

  &-title {
    span {
      @media (min-width: 576px) and (max-width: 767px) {
        margin: 0 1rem;
        font-size: $font-24;
      }
    }
  }

  .accordion {
    padding: 3rem 0 0 0;

    .card {
      border-radius: 8px !important;

      .card-header {
        background-color: $red-1;
        padding: 1rem 1rem 0.5rem 1rem;
        border-radius: $light-radious !important;
        border-style: solid;
        border-width: 1px;
        border-color: $red-drak;

        p {
          font-size: $font-24;
          @include roboto-font;
          font-weight: 500;
          color: $red-drak;
          cursor: default;
        }

        .up-down {
          position: absolute;
          top: 25px;
          right: 20px;
        }

        i.up-down {
          border-style: solid;
          border-width: 0 3px 3px 0;
          border-color: $red-drak;
          display: inline-block;
          padding: 3px;
        }

        .up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }

        .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

      }

      .active {
        box-shadow: $dark-shadow-hover;
        background-color: $red-drak;
        border-color: $red-drak;

        p {
          color: $white;
        }

        i.up-down {
          border-color: $white;
        }
      }

      .card-body {
        h2 {
          img {
            height: 22px;
          }
        }
      }
    }
  }
}
