.home-next-found-pet {
  padding: 11rem 0 3rem 0;

  @media (min-width: 300px) and (max-width: 575px) {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &_title {
    font-size: $font-36;
    font-family: 'Hobo Std Medium', Roboto;
    text-align: center;
    text-transform: capitalize;
    color: $white;
    background-color: $yellow-dark;
    border-style: solid;
    border-width: 1px;
    border-color: $yellow-dark;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  &_form {
    .form-group {
      margin-top: 2rem;
      position: relative;

      .form-control {
        font-size: $font-16;
        @include roboto-font;
        font-weight: 400;
        text-align: left;
        color: $gray-10;
        background-color: $gray-13;
        box-shadow: unset;
        padding: 2.2rem 1.5rem;
        border-radius: 5px;
        border-color: $gray-10;
        margin-bottom: 2rem;

        &::-webkit-input-placeholder {
          text-transform: capitalize;
          color: $gray-10;
          text-align: left;
          display: block;
        }

        &:focus {
          outline: 0 !important;
          outline-color: transparent !important;
          outline-style: none !important;
          border-color: $gray-10;
          box-shadow: unset !important;
        }
      }

      .select-ctrl {
        width: 100%;
        font-size: $font-16;
        @include roboto-font;
        font-weight: 400;
        text-align: left;
        text-transform: capitalize;
        color: $gray-10;
        background-color: $gray-13;
        box-shadow: unset;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        border-color: $gray-10;
        margin-bottom: 1rem;

        &:focus {
          outline: 0 !important;
          outline-color: transparent !important;
          outline-style: none !important;
          border-color: $gray-10;
          box-shadow: unset !important;
        }
      }
    }

    &-textarea {
      padding: 1rem 1.5rem !important;
    }

    &-btn {
      width: 100%;
      font-size: $font-24;
      font-family: 'Hobo Std Medium', Roboto;
      text-align: center;
      text-transform: capitalize;
      color: $white;
      background-color: $yellow-dark;
      border-style: solid;
      border-width: 1px;
      border-color: $yellow-dark;
      padding: 0.4rem;
      border-radius: 5px;
      cursor: default;
      transition: all 0.4s;

      &:hover {
        background-color: $yellow-light;
        border-color: $yellow-light;
      }
    }

    #breed {
      margin-bottom: -2rem !important;
    }

    #lost_date {
      margin-bottom: 1rem;
    }

    #petName,
    #foundPetColor {
      margin-bottom: 3rem;
    }
  }
}
