.featured {
  position: relative;
  padding: 3rem 0;
  background-color: $gray-1;

  &-content {
    &_title {
      font-size: $font-36;
      font-family: 'Hobo Std Medium', Roboto;
      font-weight: bold;
      color: $white;
      background-color: $red-drak;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0.5rem;
      border-radius: 15px;
    }

    &-title_sub {
      font-size: $font-20;
      text-align: center;
      color: $gray-4;
    }
  }

  &-box {
    position: relative;
    background-color: $white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: $dark-shadow-hover;
    }

    .card-img-top {
      border-radius: 5px;
    }

    &_content {
      margin-bottom: 2rem;
      .card-title {
        font-size: $font-24;
        @include roboto-font;
        color: $gray-4;
        text-transform: uppercase;
      }

      span {
        font-size: $font-10;
        @include roboto-font;
        padding: 0.2rem 1.2rem;
        border-radius: 6px;
        text-transform: uppercase;
        margin-top: 0.6rem;
      }
    }

    &_details {
      h2 {
        font-size: $font-16;
        @include roboto-font;
        font-weight: 500;
        color: $gray-4;
        text-align: left;
      }
      .card-text {
        font-size: $font-14;
        @include roboto-font;
        line-height: 1.2;
        color: $gray-4;
        text-align: left;
      }
    }
  }

  &-network {
    position: -webkit-sticky;
    position: sticky;
    top: 8rem;

    padding-bottom: 5rem;
    background-color: $white;
    border-radius: 6px;

    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: $dark-shadow-hover;
    }

    &_title {
      font-size: $font-36;
      font-family: 'Hobo Std Medium', Roboto;
      font-weight: bold;
      color: $white;
      background-color: $red-drak;
      text-align: center;
      line-height: 1;
      padding: 1rem;
      border-radius: 6px;
    }

    img {
      height: 128px;
      width: 128px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &_code-btn {
      width: 10rem;
    }

    &_title-sub {
      font-size: $font-20;
      @include roboto-font;
      color: $gray-4;
      text-align: center;
      padding: 0 1rem;
    }
  }
}

.howitworks {
  padding: 0  0 3rem 0;
  background-color: $white;

  &-title {}

  &-box {
    border: 0 !important;

    .card-img-top {
      border-style: solid;
      border-width: 10px;
      border-radius: 100%;
      margin-bottom: 2rem;
    }

    &_report-img,
    &_promote-img,
    &_reunite-img {
      width: 17rem !important;
      height: 17rem !important;
      margin-top: 5rem !important;
      margin: 0 auto;
      position: relative;

      &:hover {
        -moz-animation: rotatecircle 1.5s infinite linear;
        -webkit-animation: rotatecircle 1.5s linear;
      }
    }

    &_report-img {
      border-color: $red-drak !important;
    }

    &_promote-img {
      border-color: $yellow-dark;
    }

    &_reunite-img {
      border-color: $green-drak;
    }

    &_btn {
      font-size: $font-28;
      font-family: 'Hobo Std Medium', Roboto;
      font-weight: bold;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      padding: 0.5rem 1.5rem;
      border-radius: $light-radious;
      margin-bottom: 4rem;
      transition: all 0.4s;
    }

    &_report-btn {
      background-color: $red-drak;

      &:hover {
        color: $white;
        background-color: $red-light;
      }
    }

    &_promote-btn {
      background-color: $yellow-dark;

      &:hover {
        color: $white;
        background-color: $yellow-light;
      }
    }

    &_reunite-btn {
      background-color: $green-drak;

      &:hover {
        color: $white;
        background-color: $green-light;
      }
    }

    .card-title {
      font-size: $font-24;
      @include roboto-font;
      font-weight: 700;
      color: $gray-4;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .card-text {
      font-size: $font-16;
      @include roboto-font;
      font-weight: 400;
      color: $gray-4;
      text-align: justify;
      line-height: 1.5;
    }
  }

  &-more_btn {
    font-size: $font-24;
    font-family: 'Hobo Std Medium', Roboto;
    font-weight: bold;
    color: $white;
    background-color: $red-drak;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: $light-radious;
    overflow: hidden;
    transition: all 0.4s;

    i {
      @include hover-arrow;
    }

    &:hover {
      color: $white;
      background-color: $red-light;
      text-indent: -20px;

      i {
        opacity: 1;
        text-indent: 0px;
      }
    }
  }

  &-quick_tour {
    font-size: $font-56;
    font-family: 'Hobo Std Medium', Roboto;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: $red-drak;

    @media (min-width: 300px) and (max-width: 560px) {
      font-size: $font-36;
    }
  }
}

.ourblogs {
  padding: 3rem 0;
  background-color: $white;

  &-title {
  }

  &-title_sub {
    margin-bottom: 5rem;

    @media screen and (max-width: 767px) {
      font-size: $font-20;
    }
  }

  &-box {
    position: relative;
    background-color: $gray-5;
    border: 0 !important;
    border-radius: 10px;
    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: $dark-shadow-hover;
    }

    &_item-img {
      border-radius: 10px;
    }

    .card-title {
      font-size: $font-20;
      @include roboto-font;
      font-weight: 700;
      color: $gray-4;
      text-align: left;
      line-height: 1.2;
      transition: all 0.2s;

      &:hover {
        color: $gray-3;
      }
    }

    .card-text {
      font-size: $font-16;
      @include roboto-font;
      font-weight: 400;
      line-height: 1.5;
      color: $gray-4;
      text-align: left;
      margin-top: 1rem;

      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 7rem;
      webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: 300px) and (max-width: 767px) {
        height: 5rem;
      }
    }

    &_btn {
      font-size: $font-16;
      @include roboto-font;
      font-weight: 400;
      line-height: 1.5;
      color: $white;
      background-color: $red-drak;
      text-align: center;
      text-transform: capitalize;
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      width: 40%;
      transition: all 0.2s;

      &:hover {
        color: $white;
        background-color: $red-light;
      }
    }
  }

}

.getyourpet {
  padding: 5rem 0;
  margin: 2rem 0;
  background-color: $red-drak;

  @media (min-width: 300px) and (max-width: 575px) {
    padding: 3rem 0;
  }

  &-title {
    font-size: $font-48;
    font-family: 'Hobo Std Medium', Roboto;
    font-weight: bold;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0;

    @media (min-width: 576px) and (max-width: 767px) {
      font-size: $font-32;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      font-size: $font-20;
    }
  }

  &-btn {
    font-size: $font-28;
    font-family: 'Nexa Light', Roboto;
    font-weight: bold;
    color: $red-drak;
    background-color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 18px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    @media (min-width: 300px) and (max-width: 575px) {
      font-size: $font-24;
    }


    &:hover {
      color: $red-drak;
      box-shadow: $dark-shadow-hover;
    }
  }
}
