.howpmhelpu {
  height: 375px;
  width: 100%;
  margin: 5rem 0;
  padding: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 576px) and (max-width: 767px) {
    height: 300px;
  }

  @media (min-width: 300px) and (max-width: 575px) {
    height: 250px;
  }

  &-title {
    line-height: 1.4;
  }
}

.quicktour {
  padding: 3rem 0 1rem 0;

  &-top {
    padding: 2.5rem 0;
    background-color: $gray-2;
  }

  &-bottom {
    padding: 2.5rem 0 0 0;
    background-color: $white;

    .quicktour-box {
      background-color: $gray-2;
    }
  }

  &-box {
    padding: 2rem 0 3rem 0;
    border-radius: 15px;
    border: 0;

    &_content {
      padding: 2rem;

      img {
        width: 75%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      &-body {
        padding: 2rem 0 !important;

        h3 {
          font-size: $font-24;
          @include roboto-font;
          font-weight: 700;
          color: $gray-4;
          text-align: center;
          text-transform: capitalize;
        }

        p {
          font-size: $font-18;
          @include roboto-font;
          font-weight: 400;
          color: $gray-4;
          text-align: center;
          line-height: 1;
        }
      }
    }
  }

  &-btn {
    font-size: $font-32;

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: $font-28 !important;
      font-weight: 400;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: $font-18 !important;
      font-weight: 400;
    }
  }
}

.howitworks_items {
  padding: 3rem 0;

  &-top {
    padding: 2rem 0;
    background-color: $gray-2;
  }

  &-bottom {
    padding: 3rem 0 1rem 0;
    background-color: $white;
  }

  &-box {
    background-color: $white;
    padding: 2rem 0 3rem 0;
    border-radius: $light-radious;

    &-inner {
      padding: 2rem;

      &_icon {
        margin-bottom: 3rem;
      }

      &_content {

        h2,
        p {
          @include roboto-font;
          color: $gray-4;
          text-align: center;
        }

        h2 {
          font-size: $font-20;
          text-transform: capitalize;

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: $font-18;
          }
        }

        p {
          font-size: $font-16;
          line-height: 1.2;
          margin-bottom: 2rem;
        }
      }
    }

    &_btn {
      width: 100%;
      font-family: 'Hobo Std Medium', cursive;
      font-size: $font-24;
      text-align: center;
      text-transform: capitalize;
      display: block;
      color: $white;
      background-color: $red-drak;
      padding: 1rem 1rem 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.4s;

      &:hover {
        color: $white;
        background-color: $red-light;
      }
    }

    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: $dark-shadow-hover;
    }
  }
}
