.joinournetwork {
  padding: 0 0 3rem 0;

  &-bg {
    height: 475px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-width: 300px) and (max-width: 767px) {
      height: 400px;
    }

    &_title {
      font-size: $font-56;
      margin-top: 3rem;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: $font-32;
        margin-top: 2rem;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: $font-24;
        margin-top: 2rem;
      }

      @media (min-width: 300px) and (max-width: 575px) {
        font-size: $font-20;
        margin-top: 2rem;
      }
    }

    &_tag-line {
      font-size: $font-38;
      @include roboto-font;
      font-weight: 400;
      color: $white;
      text-align: center;
      line-height: 1;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: $font-32;
      }

      @media (min-width: 300px) and (max-width: 767px) {
        font-size: $font-20;
      }
    }
  }

  &-content {
    padding: 2rem 0;
    background-color: $gray-2;

    &_inner {
      margin-top: -12rem;
      padding: 3rem 2rem 2rem 2rem;
      background-color: $white;
      border-radius: $light-radious;

      &-title {
        color: $gray-4;
        text-align: center;
        line-height: 1.4;
      }

      &-title {
        font-size: $font-24;
        font-family: 'Hobo Std Medium', cursive;
        text-transform: uppercase;
        color: $red-drak;
      }

      &-text {
        font-size: $font-18;
        @include roboto-font;
        font-weight: 400;
        line-height: 1.4;
        text-align: justify;
      }

      &-search {

        .has-search {
          width: 20rem;

          .form-control-zip {
            font-size: $font-18;
            top: 12px;
          }

          .form-control {
            font-size: $font-18;
            padding: 2.5rem 0 2.5rem 5rem !important;
          }
        }

        &-btn {
          font-size: 2.2rem;
          @include roboto-font;
          font-weight: 400;
          width: 20rem;
        }
      }

      &-social {
        margin-top: 2.5rem;
        padding: 2rem;
        background-color: $gray-2;
        border-radius: 5px;

        @media (min-width: 300px) and (max-width: 991px) {
          padding: 1rem;
        }

        &_body {
          padding: 2rem;
          background-color: $white;
          border-radius: 5px;

          @media (min-width: 300px) and (max-width: 991px) {
            padding: 1rem;
          }

          &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $gray-2;
            padding: 1rem 1.5rem;
            margin: 1.5rem 0;
            border-radius: 5px;

            @media (min-width: 300px) and (max-width: 767px) {
              flex-direction: column;
              justify-content: left;
              align-items: left;
            }

            p {
              font-size: $font-20;
              font-family: 'Hobo Std Medium', Roboto;
              color: $gray-4;

              @media (min-width: 768px) and (max-width: 991px) {
                font-size: $font-18;
              }

              @media (min-width: 300px) and (max-width: 767px) {
                font-size: $font-16;
              }
            }

            a {
              font-size: $font-12;
              @include roboto-font;
              font-weight: 400;
              color: $white;
              padding: 0.5rem 1rem;
              background-color: $fb-light;
              border-radius: 4px;
              transition: all 0.2s;

              @media (min-width: 300px) and (max-width: 767px) {
                margin-top: 0.5rem;
                margin-bottom: 2rem;
              }

              span {
                margin: 0 2px;
              }

              &:hover {
                color: $white;
                background-color: $fb-dark;
              }
            }
          }
        }
      }
    }
  }
}

.jns-category {
  margin-bottom: 3rem;
  padding: 3rem 0;
  background-color: $white;

  &_title {
    font-size: $font-32;
    font-family: 'Hobo Std Medium', Roboto;
    text-align: left;
    text-transform: capitalize;
    color: $red-drak;
    margin-bottom: 2rem;

    @media (min-width: 421px) and (max-width: 575px) {
      font-size: $font-28;
    }

    @media (min-width: 300px) and (max-width: 420px) {
      font-size: $font-20;
    }
  }

  &_select {

    .form-group {

      .form-control {
        padding: 1.5rem;
        font-size: $font-16;
        font-family: 'Hobo Std Medium', Roboto;
        color: $gray-4;
        border-color: $red-drak;
        border-radius: 5px;
        box-shadow: unset !important;
        height: unset;

        &:focus {
          outline: 0 !important;
          outline-color: transparent !important;
          outline-width: 0 !important;
          outline-style: none !important;
          border-color: $red-drak;
          box-shadow: unset !important;
        }
      }
    }
  }

  &_result {
    position: relative;
    margin-top: 5rem;
    border: 2px solid $gray-2;
    border-radius: 5px;
    padding: 2rem 2rem 0 2rem;

    &-item {

      li {
        margin-bottom: 1rem;

        a {
          font-size: $font-16;
          font-family: 'Hobo Std Medium', Roboto;
          text-align: center;
          display: block;
          text-transform: capitalize;
          cursor: pointer;
          color: $gray-4;
          transition: all 0.4s;

          &:hover {
            text-decoration: underline;
            color: $red-drak;
          }
        }
      }
    }

    &-more {
      margin-top: 2rem;
      width: 10rem;
      font-size: $font-16;
      font-family: 'Hobo Std Medium', Roboto;
      text-align: center;
      display: block;
      text-transform: uppercase;
      color: $white;
      background-color: $red-drak;
      padding: 0.5rem 1rem 0.3rem 1rem;
      border-radius: 5px;
      transition: all;

      &:hover {
        color: $white;
        background-color: $red-light;
      }
    }
  }
}
