.login-bg {
  padding: 3rem 0;
  background: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/login-bg.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;

  //@media (min-width: 300px) and (max-width: 767px) {
  //  height: 700px;
  //}

  .login-box {
    padding: 15rem 0 10rem 0;
    //
    //@media (min-width: 300px) and (max-width: 767px) {
    //  padding-top: 10rem;
    //}

    &_content {
      border-radius: 5px;
      padding: 4rem 4rem 2rem 4rem;
      background-color: rgba(0,0,0,0.5);

      @media (min-width: 300px) and (max-width: 767px) {
        padding: 2rem 1rem 0.5rem 1rem;
      }

      &-title_in,
      &-title_up {
        width: 100%;
        font-size: $font-20;
        font-family: 'Nexa Bold', Roboto;
        font-weight: bold;
        color: $white;
        border-style: solid;
        border-width: 2px;
        border-color: $red-drak;
        border-radius: 5px;
        padding: 0.3rem 2rem 0.5rem 2rem;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 2rem;
        transition: all 0.4s;

        @media (min-width: 300px) and (max-width: 767px) {
          font-size: $font-18;
          margin-bottom: 0.5rem;
        }

        &:hover {
          border-color: $red-light;
          background-color: $red-light;
        }
      }

      .active.login-box_content-title_in {
        border-color: $red-drak;
        background-color: $red-drak;
      }

      .active.login-box_content-title_up {
        border-color: $red-drak;
        background-color: $red-drak;
      }

      .form-group {
        position: relative;

        .form-control {
          font-size: $font-18;
          font-weight: 400;
          color: $white;
          background-color: rgba($white, 0.5);
          box-shadow: unset;
          padding: 2.5rem 2rem 2.5rem 4.5rem;
          border-radius: 5px;
          border: 0 !important;
          margin-bottom: 2rem;

          @media (min-width: 300px) and (max-width: 767px) {
            font-size: $font-12;
            padding: 1.6rem 1rem 2rem 3rem;
            margin-bottom: 0.5rem;
          }

          &::-webkit-input-placeholder {
            text-transform: capitalize;
            color: $gray-4;
            text-align: left;
            display: block;
          }

          &:focus {
            outline: 0 !important;
            outline-color: transparent !important;
            outline-width: 0 !important;
            outline-style: none !important;
            border-color: transparent;
            box-shadow: unset !important;
          }
        }

        .log-icon {
          padding: 1.7rem;
          position: absolute;
          left: 0;

          @media (min-width: 300px) and (max-width: 767px) {
            padding: 1rem;
          }

          i {
            font-size: $font-18;
            color: $gray-4;

            @media (min-width: 300px) and (max-width: 767px) {
              font-size: $font-12;
              margin-bottom: 0.5rem;
            }
          }
        }

        .login-btn,
        .signup-btn {
          width: 100%;
          font-size: $font-24;
          font-family: 'Hobo Std Medium', Roboto;
          color: $white;
          background-color: rgba($red-drak, 0.65);
          padding: 0.5rem 2rem;
          border-radius: 5px;
          text-align: center;
          text-transform: capitalize;

          @media (min-width: 300px) and (max-width: 767px) {
            font-size: $font-18;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .signupCheck {
      span {
        color: $red-drak;
      }
    }

    .signupCheck,
    .loginCheck {
      margin-left: 2rem !important;
    }

    .signupCheck,
    .loginCheck,
    .login-forgot {
      font-size: 1.4rem !important;
      @include roboto-font;
      color: $white;
      transition: all 0.2s;

      &:hover {
        color: $red-drak;
      }
    }

    .login-forgot {
      float: right !important;

      @media (min-width: 300px) and (max-width: 991px) {
        float: left !important;
      }
    }
  }
}

#login-form,
#signup-form {
   .custom-control.overflow-checkbox {
     .overflow-control-indicator {
       top: 0 !important;
     }
   }
 }

#signup-form {
  .custom-control.overflow-checkbox {
    .overflow-control-indicator {
      border-color: $white;

      &::after{
        border-color: $white;
      }
    }
  }
}
