.petdetails {
  padding: 11rem 0 3rem 0;

  &-title {
    border-bottom: 1px solid $red-drak;
    margin-bottom: 2rem;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;

    span {
      font-size: $font-38;
      font-family: 'Hobo Std Medium', Roboto;
      color: $red-drak;
      border-bottom: 2px solid $red-light;
      display: inline-block;
      padding-bottom: 5px;
    }
  }

  &-img,
  &-map {
    img {
      max-width: 38rem;
      max-height: 40rem;
      border: 2px solid $gray-2;

      @media (min-width: 300px) and (max-width: 991px) {
        max-width: 100%;
        height: auto;
      }

    }
  }

  &-img {margin: 2rem 0 3rem 0;}

  &-map {}

  &-lost {
    margin-top: 2rem;
    padding: 3rem 3rem 3rem 4rem;
    background-color: $gray-7;
    border-radius: $light-radious;

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 1.5rem;
    }

    .tag-lost {
      font-size: $font-24;
      font-family: 'Hobo Std Medium', Roboto;
      width: 25%;
      text-align: center;
      padding-top: 0.2rem;
      border-radius: 6px;
      margin-bottom: 3rem;

      @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 1rem;
      }
    }

    &_wrap {
      margin: 0;
      padding: 0;
    }

    &_item {
      //font-weight: bold;
      margin-bottom: 0.5rem;

      @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 0;
      }

      &-label {
        font-family: 'Hobo Std Medium', Roboto;
        font-size: $font-20;
        color: $red-drak;
        display: inline-block;

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: $font-16;
        }
      }

      &-value {
        @include roboto-font;
        font-size: $font-20;
        color: $gray-4;

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: $font-16;
        }
      }
    }

    &_des {
      font-size: $font-16;
      font-family: 'Nexa Bold', Roboto;
      font-weight: bold;
      color: $gray-4;
      text-align: left;
      background-color: $white;
      padding: 1rem 1rem 5rem 1rem;
      border-radius: 6px;

      @media (min-width: 768px) and (max-width: 991px) {
        padding: 1rem;
      }
    }
  }

  .share-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 300px) and (max-width: 991px) {
      flex-direction: column;
    }
  }
}
