.package {
  padding: 5rem 0 3rem 0;

  &-header {
    padding: 6rem 0 4rem 0;
    background-color: $red-drak;

    &_title {
      font-size: $font-56;
      font-family: 'Hobo Std Medium', Roboto;
      color: $white;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: $font-42
      }

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: $font-32
      }

      @media (min-width: 300px) and (max-width: 575px) {
        font-size: $font-20
      }
    }

    &_sub {
      font-size: $font-24;
      @include roboto-font;
      font-weight: 700;
      color: $gray-4;
      text-align: center;

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: $font-20
      }

      @media (min-width: 300px) and (max-width: 575px) {
        font-size: $font-16
      }
    }
  }

  &-img {
    padding: 20rem 0 15rem 0;
    background-color: $white;

    img {
      max-width: 160px;
      max-height: 160px;

      @media (min-width: 300px) and (max-width: 767px) {
        margin-bottom: 2rem;
      }
    }
  }

  &-wrap {
    padding: 3rem 0 6rem 0;
    background-color: $gray-11;

    &_top {
      margin-top: -33rem;
    }

    &_box {
      position: relative;
      padding: 0 0 2rem 0;
      background-color: $white;
      border-radius: $light-radious;
      box-shadow: $dark-shadow;
      border: 0;
      transition: all 0.4s cubic-bezier(.25,.8,.25,1);

      &:hover {
        transform: translateY(-8px);
        box-shadow: $dark-shadow-hover;
      }

      &-head {
        position: relative;
        text-align: center;
        padding: 1rem 7rem 2rem 7rem;
        background-color: $red-drak;
        border-radius: $light-radious;

        @media (min-width: 992px) and (max-width: 1199px) {
          padding: 1rem 5rem 2rem 5rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 1rem 2rem 2rem 2rem;
        }

        i {
          font-size: $font-16;
          color: $white;
        }

        &_title {
          font-size: $font-24;
          @include roboto-font;
          font-weight: 700;
          color: $white;
          text-transform: uppercase;
          padding: 1rem 0;
        }

        &_price {
          font-size: $font-28;
          font-family: 'Nexa Bold', Roboto;
          text-align: center;
          padding: .5rem;
          background-color: $white;
          border-radius: 5px;

          span:first-child {
            font-weight: 700;

            i {
              font-size: $font-28;
            }
          }
        }

        &_price.basic {
          i {
            color: $basic;
          }
        }

        &_price.standard {
          i {
            color: $standard;
          }
        }

        &_price.premium {
          i {
            color: $premium;
          }
        }
      }

      &-body {
        padding: 2rem 2rem 2rem 4rem;

        @media (min-width: 992px) and (max-width: 1199px) {
          padding: 2rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 1.5rem;
        }

        ul {
          li {
            font-size: $font-20;
            @include roboto-font;
            font-weight: 400;
            color: $gray-4;
            line-height: 1.2;
            margin-bottom: 2rem;

            @media (min-width: 768px) and (max-width: 991px) {
              font-size: $font-18;
            }

            i {
              font-size: $font-20;
              color: $red-drak;
              margin-right: 1rem;

              @media (min-width: 768px) and (max-width: 991px) {
                font-size: $font-18;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }

      &-footer {
        padding: 0 1rem;

        button {
          width: 100%;
          font-size: $font-20;
          @include roboto-font;
          font-weight: 300;
          color: $white;
          text-align: center;
          text-transform: capitalize;
          padding: 1rem 1.5rem;
          border-radius: 5px;

          span {
            padding: 0 1rem;

            @media (min-width: 768px) and (max-width: 991px) {
              padding: 0 0.5rem;
            }
          }

          transition: all 0.4s;

          &:hover {
            color: $yellow-dark;
          }
        }

        button.pb-btn,
        button.pp-btn {
          background-color: $gray-12;
        }

        button.ps-btn {
          background-color: $red-drak;
        }
      }
    }

    &_skip {

      float: right;

      @media (min-width: 300px) and (max-width: 575px) {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      &-link {
        font-size: $font-20;
        font-family: 'Hobo Std Medium', Roboto;
        text-align: center;
        display: block;
        color: $red-drak;
        background-color: $white;
        padding: 1rem 2rem 0.7rem 2rem;
        border-radius: 5px;
        transition: all 0.4s;

        @media (min-width: 300px) and (max-width: 419px) {
          font-size: $font-16;
          padding: 1rem 0.5rem 0.7rem 0.5rem;
        }

        &:hover {
          color: $white;
          background-color: $red-drak;
        }
      }
    }
  }
}

