.privacy-policy {
  padding: 3rem 0;

  &_title {
    span {
      margin: 0 2rem;

      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 2.4rem;
        margin: 0 1rem !important;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 2.8rem;
        margin: 0 1.5rem !important;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 2.8rem;
        margin: 0 1rem !important;
      }

      @media (min-width: 300px) and (max-width: 375px) {
        font-size: 2.4rem;
        margin: 0 0.4rem !important;
      }
    }
  }

  &_sub {
    font-size: $font-22;
    @include roboto-font;
    font-weight: 700;
    color: $red-drak;
    text-align: center;
    text-transform: uppercase;
  }

  &_details {

    &-text,
    &-list {
      font-size: $font-16;
      @include roboto-font;
      font-weight: 400;
      color: $gray-4;
      text-align: justify;
      line-height: 1.5;
    }

    &-list {

      li {
        font-size: $font-20;
        @include roboto-font;
        font-weight: 400;
        color: $gray-4;
        text-align: left;
        line-height: 1.5;
      }
    }
  }
}
