.refound-policy {
  padding: 3rem 0;

  &_title {
    span {
      margin: 0 1rem;
    }
  }

  &_sub {
    font-size: $font-20;
    @include roboto-font;
    font-weight: 400;
    color: $red-drak;
    text-align: center;
    text-transform: uppercase;
  }

  &_details {

    &-text,
    &-list {
      font-size: $font-16;
      @include roboto-font;
      font-weight: 400;
      color: $gray-4;
      text-align: justify;
      line-height: 1.5;
    }
  }
}
