.search {
  padding: 3rem 0;
  margin-top: 10rem;
  position: relative;

  @media (min-width: 300px) and (max-width: 767px) {
    margin-top: 7rem;
  }

  &-title {
    h1 {
      font-size: $font-48;
      font-family: 'Hobo Std Medium', cursive;
      color: $red-drak;
      text-align: center;

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: $font-38;
      }

      @media (min-width: 300px) and (max-width: 575px) {
        font-size: $font-36;
      }
    }

    h2,a {
      font-size: $font-20 !important;
      @include roboto-font;
      text-align: center;
      display: block;
    }

    h2 {
      font-weight: 500;
      line-height: 1;
      color: $gray-4;
      margin-bottom: 3rem !important;
    }

    .fb-btn {
      font-weight: 400;
      padding: 0.5rem 0 .7rem 0 !important;
      color: $white !important;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 30%;

      @media (min-width: 576px) and (max-width: 767px) {
        width: 45%;
      }

      @media (min-width: 300px) and (max-width: 575px) {
        width: 80%;
      }

      img {
        margin-right: 1rem !important;
      }
    }
  }

  &-bg {
    padding: 5rem;
    border-radius: $light-radious;

    @media (min-width: 414px) and (max-width: 475px) {
      padding: 3rem;
    }

    @media (min-width: 300px) and (max-width: 413px) {
      padding: 1rem;
    }
  }

  &-box {
    background-color: $gray-9;
    padding: 1rem;
    border-radius: 5px;

    &_inner {
      background-color: $white;
      padding: 2rem;
      border-radius: 5px;

      .form-group {
        position: relative;

        label {
          font-size: $font-18;
          @include roboto-font;
          font-weight: 400;
          text-align: left;
          color: $gray-10;
        }

        .form-control {
          font-size: $font-16;
          @include roboto-font;
          font-weight: 400;
          text-align: left;
          color: $gray-10;
          background-color: $gray-13;
          box-shadow: unset;
          padding: 2.2rem 1.5rem;
          border-radius: 5px;
          border-color: $red-drak;
          margin-bottom: 2rem;

          &::-webkit-input-placeholder {
            text-transform: capitalize;
            color: $gray-10;
            text-align: left;
            display: block;
          }

          &:focus {
            outline: 0 !important;
            outline-color: transparent !important;
            outline-style: none !important;
            border-color: $red-drak;
            box-shadow: unset !important;
          }
        }

        .select-ctrl {
          width: 100%;
          font-size: $font-16;
          @include roboto-font;
          font-weight: 400;
          text-align: left;
          text-transform: capitalize;
          color: $gray-10;
          background-color: $gray-13;
          box-shadow: unset;
          padding: 1rem 1.5rem;
          border-radius: 5px;
          border-color: $red-drak;
          margin-bottom: 1rem;

          &:focus {
            outline: 0 !important;
            outline-color: transparent !important;
            outline-style: none !important;
            border-color: $red-drak;
            box-shadow: unset !important;
          }

          option {
            border-color: $red-drak !important;
          }
        }

        .form-check-inline {

          @media (min-width: 300px) and (max-width: 360px) {
            display: block;
            flex-direction: column;
          }
        }
      }

      &-btn {
        position: relative;
        width: 100%;
        font-size: $font-24;
        font-family: 'Hobo Std Medium', cursive;
        line-height: 1;
        letter-spacing: 3px;
        text-align: center;
        text-transform: capitalize;
        color: $white;
        background-color: $yellow-dark;
        padding: 0.8rem;
        border-radius: $light-radious;
        transition: all 0.4s;

        i {
          font-size: $font-20;
          @include hover-arrow;
        }

        &:hover {
          color: $white;
          background-color: $yellow-light;
          text-indent: -20px;

          i {
            opacity: 1;
            text-indent: 0px;
          }
        }

      }
    }
  }

  &-side_bar {
    padding: 2rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $red-drak;
    background-color: $fb-dark;
    position: -webkit-sticky;
    position: sticky;
    top: 8rem;
    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: $dark-shadow-hover;
    }

    &-join {

      img {

      }

      h2 {
        font-size: $font-32;
        font-family: 'Hobo Std Medium', cursive;
        color: $white;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        font-size: $font-20;
        font-family: 'Hobo Std Medium', cursive;
        color: $white;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.2;
      }
    }

    &-bg {
      position: relative;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: 100% 100%;
      height: 230px;

      @media (min-width: 768px) and (max-width: 991px) {
        background-size: 50% 100%;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        background-size: 60% 100%;
      }

      @media (min-width: 420px) and (max-width: 575px) {
        background-size: 70% 100%;
      }
    }

    &-fblike {
      position: absolute;
      top: 41%;
      left: 24%;

      @media (min-width: 768px) and (max-width: 991px) {
        left: 40%;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        left: 36%;
      }

      @media (min-width: 420px) and (max-width: 575px) {
        left: 30%;
      }

      a {
        font-size: $font-16;
        @include roboto-font;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        color: $white;
        background-color: $fb-light;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: all 0.4s;

        &:hover {
          color: $white;
          background-color: $fb-dark;
        }
      }
    }

    &-learnmore {
      width: 100%;
      margin-top: 5rem;
      background-color: $white;
      padding: 1rem;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 576px) and (max-width: 991px) {
        width: 60%;
      }

      &_btn {
        font-size: $font-24;
        font-family: 'Hobo Std Medium', cursive;
        color: $red-drak;
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem;
        border-style: solid;
        border-width: 2px;
        border-color: $fb-dark;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: $dark-shadow-hover;
        transition: all 0.4s;

        &:hover {
          color: $red-light;
          box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        }
      }
    }
  }

  &-items {
    padding: 3rem 0;

    &_box {
      position: relative;
      background-color: $white;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: $dark-shadow;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: $dark-shadow-hover;
      }

      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 10px;
        margin-bottom: 1rem;

        max-width: 200px;
        max-height: 220px;
        box-shadow: $light-shadow;
      }

      &-body {

        &_title,
        &_gender,
        &_text,
        &_date {
          font-family: 'Hobo Std Medium', cursive;
          text-align: center;
        }

        &_title {
          font-size: $font-32;
          color: $gray-4;
          text-transform: uppercase;
        }

        &_gender,
        &_date {
          font-size: $font-20;
          text-transform: capitalize;
          padding: 1rem 0.5rem;
          border-radius: 5px;
        }

        &_id {
          font-size: $font-18;
          @include roboto-font;
          font-weight: 500;
          text-align: center;
        }

        &_text {
          font-size: $font-20;
          line-height: 1.4;
          color: $gray-4;
          text-transform: capitalize;
          padding: 2rem 0;
        }

        &_date {
          font-size: $font-16;
          line-height: 1.4;
        }

        &_share {
          margin: 1rem 0;

          &-btn {
            width: 10rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: $font-14;
            @include roboto-font;
            text-align: center;
            text-transform: uppercase;
            border-radius: 10px;
            color: $white;
            background-color: $fb-dark;
            transition: all 0.4s;

            img {
              margin-top: 1rem;
            }

            span {
              margin-right: 1.3rem;
            }

            &:hover {
              color: $white;
              background-color: $fb-light;
            }
          }
        }

        &_details-btn {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          font-size: $font-24;
          font-family: 'Hobo Std Medium', cursive;
          color: $white;
          text-align: center;
          padding: 0.5rem;
          border-radius: $light-radious;
          transition: all 0.4s;
        }

        .reunite_date {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.search-side_bar:hover .like-img {
  animation: shake 0.5s;
  //animation-iteration-count: infinite;
}

.custom-control{
  &.overflow-checkbox{
    .overflow-control-input{
      display: none;

      &:checked~.overflow-control-indicator{
        &::after{
          transform: rotateZ(45deg) scale(1);
          top: -6px;
          left: 5px;
        }

        &::before{
          opacity: 1;
        }
      }
    }
    .overflow-control-indicator{
      border-radius: 5px;
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-style: solid;
      border-width: 2px;
      border-color: $red-drak;

      &::after{
        content: '';
        display: block;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        transition: .3s;
        transform: rotateZ(90deg) scale(0);
        width: 1.5rem;
        border-bottom: 4px solid $red-drak;
        border-right: 4px solid $red-drak;
        border-radius: 3px;
        top: -2px;
        left: 2px;
      }

      &::before{
        content: '';
        display: block;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        transition: .3s;
        //border-right: 7px solid #fff;
        border-radius: 3px;
        transform: rotateZ(45deg) scale(1);
        width: 1.5rem;
        top: -4px;
        left: 5px;
        opacity: 0;
      }
    }
  }

  span.overflow-control-description {
    font-size: $font-14 !important;
    font-weight: 500;
    margin-left: 1.5rem;
  }
}

.search-items_box:hover .search-items_box-img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

