.user-panel {
  padding: 5rem 0 2rem 0;

  &_head {
    padding: 2.5rem 0 2rem 0;

    &-item {
      font-size: $font-18;
      font-family: 'Hobo Std Medium', cursive;
      color: $gray-14;

      transition: all 0.2s;

      &:hover {
        color: $white;
      }
    }

    &-alert {
      color: $white;
      text-transform: capitalize;
      text-decoration: underline !important;
    }
  }

  &_inner {
    padding: 2rem 0 0 0;
    background-color: $white;

    &-side {

      @media screen and (min-width:1200px) {
        width: 30rem;
      }

      &_pet-box,
      &_profile-box {
        background-color: $gray-9;
        padding: 2rem;
        border-radius: 5px;
      }

      &_pet-box {
        margin-bottom: 2rem;
        box-shadow: $dark-shadow;

        .edit-icon {
          text-align: right;

          i {
            font-size: $font-32;
            color: $red-drak;
          }
        }

        .user-pet_photo {
          img {
            width: 180px;
            height: 180px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border-radius: 100%;
          }
        }

        h2 {
          font-size: $font-26;
          font-family: 'Hobo Std Medium', cursive;
          color: $gray-14;
          text-align: center;
          text-transform: capitalize;
          padding: 1rem 0;
        }

        .gender {
          p {
            font-size: $font-20;
            font-family: 'Hobo Std Medium', cursive;
            color: $gray-14;
            text-align: center;
            text-transform: capitalize;
            padding: 1rem 0 0 0;

            span {
              color: $white;
              padding: 0.5rem 1rem;
              border-radius: 5px;
            }
          }
        }
      }

      &_nav {
        box-shadow: $dark-shadow;
        background-color: $gray-9;
        padding: 2rem;
        border-radius: 5px;

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 2rem 0.5rem;
        }

        @media (min-width: 300px) and (max-width: 767px) {
          margin-bottom: 2rem;
        }

        .user_nav {

          &-item {
            margin-bottom: 0.5rem;
          }

          &-link {
            font-size: $font-22;
            @include roboto-font;
            font-weight: 400;
            color: $gray-4;
            text-transform: capitalize;
            padding: 0.5rem 1rem 0.3rem 1rem;
            border-radius: 5px;
            transition: all 0.4s;

            i {
              font-size: $font-20;
            }

            @media (min-width: 768px) and (max-width: 991px) {
              font-size: $font-20;

              i {
                font-size: $font-18;
              }
            }

            &:active,
            &:hover {
              color: $red-drak;
            }
          }

          .active {
            color: $red-drak;
          }
        }
      }

      .marked,
      .action-btn {
        a {
          text-transform: capitalize;
          border-radius: 5px;
          transition: all 0.2s;
        }
      }

      .marked {
        a {
          font-size: $font-18;
          @include roboto-font;
          font-weight: 500;
          padding: 0.5rem 0;
          text-align: center;
          color: $white;
          display: block;

          &:hover {
            color: $white;
            background-color: $green-light;
          }
        }
      }

      .action-btn {
        a {
          font-size: $font-20;
          font-family: 'Hobo Std Medium', cursive;
          padding: 1.2rem 2rem 1rem 2rem;
          color: $gray-14;
          background-color: $white;

          &:hover {
            color: $white;
            background-color: $red-drak;
          }

        }
      }
    }

    &-content {

      .joinournetwork-content_inner {
        //margin-top: -15rem;
      }
      position: relative;

      &_title {
        margin-bottom: 2rem;

        h2 {
          font-size: $font-24;
          font-family: 'Hobo Std Medium', cursive;
          color: $gray-4;
        }

        p {
          font-size: $font-18;
          @include roboto-font;
          font-weight: 400;
          color: $gray-4;
          line-height: 1.4;
        }
      }

      //pet alert page style
      .pet-alert-content {

        &_box {
          position: relative;
          background-color: $white;
          padding: 1.5rem;
          border-radius: 10px;
          box-shadow: $dark-shadow;
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);

          &:hover {
            box-shadow: $dark-shadow-hover;
          }

          &-head {
            h2 {
              span {
                font-size: $font-20;
                @include roboto-font;
                font-weight: 500;
                text-transform: capitalize;
              }
            }
          }

          &-text {
            font-size: $font-16;
            @include roboto-font;
            font-weight: 400;
            text-align: justify;
            line-height: 1.4;
          }

          &-img {
            padding: 1rem;

            @media (min-width: 300px) and (max-width: 476px) {
              padding: 0;
            }

            &_title {
              padding: 1rem 0.5rem 0.5rem 0.5rem;
              background-color: $red-drak !important;

              h2 {
                font-size: $font-24;
                font-family: 'Hobo Std Medium', cursive;
                color: $white;

                @media (min-width: 300px) and (max-width: 476px) {
                  font-size: $font-20;
                }

                img {
                  border: 1px solid $white;

                  @media (min-width: 300px) and (max-width: 476px) {
                    width: 25px;
                    height: auto;
                  }
                }

                span {
                  font-size: $font-20;
                  @include roboto-font;
                  font-weight: 400;
                  color: $yellow-dark;
                  text-transform: capitalize;
                }
              }
            }

            &_id {
              position: relative;

              p {
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $red-drak;
                padding: 0.5rem 1rem;
                border-radius: 10px;

                font-size: $font-20;
                font-family: 'Hobo Std Medium', cursive;
                color: $white;

                @media (min-width: 300px) and (max-width: 476px) {
                  padding: 0.3rem 0.5rem;
                  border-radius: 5px;
                  font-size: $font-16;
                }
              }
            }

            &_logo {
              position: relative;

              img {
                position: absolute;
                right: 5px;
                bottom: 10px;

                @media (min-width: 300px) and (max-width: 476px) {
                  right: 3px;
                  bottom: 7px;

                  img.circle-logo-50 {
                    width: 30px !important;
                    height: 30px !important;
                  }
                }
              }
            }
          }
        }
      }

      &-msg {
        font-size: $font-20;
        font-family: 'Hobo Std Medium', cursive;
        color: $gray-14;
      }
    }

    // alert map
    .alert-map {
      position: relative;
      margin-bottom: 2rem;

      &_overly {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($black, 0.6);
        transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
      }

      &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 768px) and (max-width: 991px) {
          top: 30%;
        }

        @media (min-width: 300px) and (max-width: 449px) {
          top: 25%;
        }

        i {
          font-size: $font-56;
          color:  $white;

          @media (min-width: 450px) and (max-width: 991px) {
            font-size: $font-36;
          }

          @media (min-width: 300px) and (max-width: 449px) {
            font-size: $font-32;
          }
        }
      }

      &_btn {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 300px) and (max-width: 449px) {
          bottom: 5px;
        }

        a {
          font-size: $font-20;
          font-family: 'Hobo Std Medium', cursive;
          text-align: center;
          text-transform: capitalize;
          color: $white;
          background-color: $red-drak;
          padding: 1rem 2rem;
          border-radius: 5px;
          transition: all 0.4s;

          &:hover {
            color: $white;
            background-color: $red-light;
          }

          @media (min-width: 450px) and (max-width: 991px) {
            font-size: $font-14;
          }

          @media (min-width: 300px) and (max-width: 449px) {
            padding: 0.5rem;
            font-size: $font-10;
          }
        }
      }

      &_position {

      }
    }
  }
}

.user-panel_home {
  padding-top: 8rem;
  height: 100vh;

  h2 {
    font-size: $font-24;
    font-family: 'Hobo Std Medium', cursive;
    color: $gray-14;
    text-align: center;
    text-transform: capitalize;
  }

  .user_nav {
    padding: 6rem 0 !important;
    height: 100vh;
  }
}

.pet-posted_content {
  position: relative;
  padding-top: 8rem;

  @media (min-width: 576px) and (max-width: 767px) {
    padding-top: 4rem;
  }

  @media (min-width: 300px) and (max-width: 575px) {
    padding-top: 2rem;
  }

  &-title {
    border-bottom: 1px solid $red-drak;
    margin-bottom: 2rem;
    padding: 0;
    letter-spacing: 5px;

    span {
      font-size: $font-32;
      font-family: 'Hobo Std Medium', Roboto;
      color: $red-drak;
      border-bottom: 2px solid $red-light;
      display: inline-block;
      padding-bottom: 5px;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: $font-24;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: $font-20;
      }

      @media (min-width: 420px) and (max-width: 575px) {
        font-size: $font-16;
      }

      @media (min-width: 300px) and (max-width: 419px) {
        font-size: $font-14;
      }
    }
  }

  &-details {

    &_name {
      font-size: $font-24;
      font-family: 'Hobo Std Medium', Roboto;
      text-align: center;
      text-transform: capitalize;
      color: $gray-14;
    }

    p {
      font-size: $font-20;
      @include roboto-font;
      color: $gray-14;
      text-align: center;
      text-transform: capitalize;

      span {
        font-size: $font-16;
        padding: 0.2rem 1rem 0.5rem 1rem;
        border-radius: 5px;
      }
    }

    .view-dashboard_btn,
    .fb-sahre_btn {
      font-size: $font-20;
      font-family: 'Hobo Std Medium', Roboto;
      padding: 1rem 1rem 0.5rem 1rem;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      display: block;
      color: $white;
      border-radius: $light-radious;
      transition: all 0.4s;
    }

    .view-dashboard_btn {
      background-color: $red-drak;

      &:hover {
        color: $white;
        background-color: $red-light;
      }
    }

    .fb-sahre_btn {
      background-color: $fb-dark;

      &:hover {
        color: $white;
        background-color: $fb-light;
      }
    }
  }
}

.pet-update-content {

  &-head {
    font-size: $font-20;
    @include roboto-font;
    font-weight: 400;
  }

  &_box {
    padding: 1rem;
    border-radius: 5px;

    &-img {

      img {
        border-radius: 5px;
      }
    }

    &-info {
      position: relative;
      padding: 2rem 0;

      &_name {
        font-size: $font-24;
        font-family: 'Hobo Std Medium', cursive;
        color: $gray-14;
        text-align: left;
        text-transform: capitalize;
      }

      &_gender,
      &_address {
        font-size: $font-20;
        @include roboto-font;
        font-weight: 400;
        text-align: left;
        text-transform: capitalize;
        color: $gray-14;
        line-height: 0.8;
      }

      &_btn {
        margin-top: 5rem;

        width: 100%;
        font-size: $font-20;
        font-family: 'Hobo Std Medium', cursive;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        display: block;
        background-color: $red-drak;
        padding: 0.5rem;
        border-radius: $light-radious;
        transition: all 0.4s;

        &:hover {
          color: $white;
          background-color: $red-light;
        }
      }
    }
  }
}

.pet-profile-details {
  background-color: $gray-15;
  border-radius: 5px;
  margin-bottom: 2rem;

  &_pet {
    padding: 1rem 1rem 0.3rem 1rem;
    border-radius: 5px;

    img {
      border-radius: 5px;
    }
  }

  &_info {
    background-color: $gray-15;
    padding: 2rem;
    border-radius: 5px;
  }
}

.pet-profile-details_info-edit {
  &-img {
    background-color: $gray-2;
    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;

    &_cahnge {
      padding: 1rem 1rem 0.5rem 1rem;
      border-radius: 5px;

      img {
        border-radius: 5px;
      }
    }

    .form-group {
      position: relative;

      .file-upload {
        overflow: hidden;
        border-width: 0;

        @include vh-enter;

        .file {
          font-family: 'Hobo Std Medium', cursive;
          font-size: $font-24;
          color: $white;
          padding: 1rem;
          border-radius: 6px;
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          cursor: default;
          text-align: center;
          text-transform: capitalize;
          background-color: rgba($black, 0.2);
          transition: all 0.4s;

          @media (min-width: 300px) and (max-width: 575px) {
            padding: 0.5rem;
            font-size: $font-12;
          }

          &:hover {
            background-color: $red-drak;
          }
        }

        #change_photo {
          @include vh-enter;
          font-size: 50px;
          opacity: 0;

        }
      }
    }
  }

  &-bottom {
    background-color: $gray-15;
    padding: 2rem;
    border-radius: 5px;

    .form-group {

      label {
        font-size: $font-20;
        font-family: 'Hobo Std Medium', cursive;
        color: $red-drak;;
      }

      .form-control {
        font-size: $font-16;
        @include roboto-font;
        color: $gray-4;
        padding: 1rem 1.5rem;
        height: unset;
      }
    }

    &_btn {
      font-size: $font-16;
      font-family: 'Hobo Std Medium', cursive;
      color: $white;
      background-color: $red-drak;
      padding: 0.5rem 4rem;
      text-align: center;
      border-radius: 5px;

      &:hover {
        background-color: $red-light;
      }
    }
  }
}

.active-alert_text {
  margin-bottom: 2rem;

  h2 {
    font-size: $font-24;
    font-family: 'Hobo Std Medium', cursive;
    color: $gray-4;
  }

  p {
    font-size: $font-18;
    @include roboto-font;
    font-weight: 400;
    color: $gray-4;
    line-height: 1.4;
  }
}
.active-alert-pack {

  &_title {
    font-size: $font-24;
    font-family: 'Hobo Std Medium', Roboto;
    text-align: center;
    color: $white;
    background-color: $red-drak;
    border-radius: 5px;
    box-shadow: $dark-shadow;
    padding: 3rem 0;

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: $font-20;
    }
  }

  &_list {

    .package-wrap_box {

      &-head {
        padding: 1rem 4rem 2rem 4rem;

        @media (min-width: 992px) and (max-width: 1199px) {
          padding: 1rem 1rem 2rem 1rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 1rem;
        }

        i {
          font-size: $font-16;

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: $font-10;
          }
        }

        &_title {
          font-size: $font-20;

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: $font-14;
          }

        }

        &_price {
          font-size: $font-20;

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: $font-14;
          }

          span {
            i {
              font-size: $font-20;

              @media (min-width: 768px) and (max-width: 991px) {
                font-size: $font-14;
              }
            }
          }
        }
      }

      &-body {
        padding: 2rem;

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 2rem 0 2rem 1rem;
        }

        ul {
          li {
            font-size: $font-16;
            margin-bottom: 1.5rem;

            @media (min-width: 768px) and (max-width: 991px) {
              font-size: $font-14;
              margin-bottom: 1rem;
            }

            i {
              font-size: $font-16;
              margin-right: 0.5rem;

              @media (min-width: 768px) and (max-width: 991px) {
                font-size: $font-14;
                margin-right: 0.2rem;
              }
            }
          }
        }

      }

      &-footer {

        button {
          @media (min-width: 992px) and (max-width: 1199px) {
            font-size: $font-16;

            span {
              padding: 0.5rem;
            }
          }

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: $font-12;
            padding: 1rem .5rem;

            span {
              padding: 0.2rem;
            }
          }
        }
      }
    }
  }
}

.download-flyer {
  margin-bottom: 15rem;

  &_title {
    font-size: $font-36;
    font-family: 'Hobo Std Medium', cursive;
    color: $red-drak;
    text-align: center;
    text-transform: capitalize;
    padding: 5rem 0;

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: $font-24;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      font-size: $font-20;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      font-size: $font-16;
    }
  }

  &_btn {
    width: 50%;
    font-size: $font-36;
    font-family: 'Hobo Std Medium', cursive;
    color: $white;
    background-color: $red-drak;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 15px;
    display: block;
    transition: all 0.4s;

    &:hover {
      color: $white;
      background-color: $red-light;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: $font-28;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      font-size: $font-24;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      font-size: $font-18;
    }
  }
}

.facebook-tools {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 300px) and (max-width: 419px) {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &_view-btn,
  &_share-btn {
    font-size: $font-20;
    font-family: 'Hobo Std Medium', Roboto;
    color: $white;
    background-color: $red-drak;
    text-align: center;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 3rem 0.3rem 3rem;
    border-radius: 5px;
    transition: all 0.4s;

    &:hover {
      color: $white;
      background-color: $red-light;
    }

    @media (min-width: 300px) and (max-width: 419px) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.pet-join-network {

  .joinournetwork-bg_title {
    margin-top: 0.5rem;
    font-size: $font-36;

    @media (min-width: 300px) and (max-width: 991px) {
      font-size: $font-24;
    }
  }

  .joinournetwork-bg_tag-line {
    font-size: $font-24;

    @media (min-width: 300px) and (max-width: 991px) {
      font-size: $font-18;
    }
  }

  .joinournetwork-content_inner-title {
    @media (min-width: 300px) and (max-width: 991px) {
      font-size: $font-20;
    }
  }

  .joinournetwork-content_inner-social_body-item p {
    font-size: $font-18;

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: $font-14;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: $font-12;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .joinournetwork-content_inner-social_body-item {
      margin-bottom: 1rem;

      a {
        padding: 0.5rem;
      }
    }
  }

}

.alert-msg {
  padding-top: 5rem !important;
}


