
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
      transform: rotate(270deg);
}

.flip {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
      transform: scaleX(-1);
}

.flip-and-rotate-90 {
  -webkit-transform: rotate(90deg) scaleX(-1);
  -ms-transform: rotate(90deg) scaleX(-1);
      transform: rotate(90deg) scaleX(-1);
}

.flip-and-rotate-180 {
  -webkit-transform: rotate(180deg) scaleX(-1);
  -ms-transform: rotate(180deg) scaleX(-1);
      transform: rotate(180deg) scaleX(-1);
}

.flip-and-rotate-270 {
  -webkit-transform: rotate(270deg) scaleX(-1);
  -ms-transform: rotate(270deg) scaleX(-1);
      transform: rotate(270deg) scaleX(-1);
}

.nearest-map{
    display: none;
}

.petdetails-found, .petdetails-lost{
  margin-top: 0;
}

#copy-image11 img{
    max-width: 100%; 
}
#copy-image{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
}

#copy-image img{
    max-width: 100%; 
    width: 100%; 
    height: 410px;
}

#petdetails-img-wrap{
    position: relative;
}

#petdetails-img-wrap .next-pet_box-img_title{
  position: absolute;
  width: 100%;
  border-radius:0px;
}

.next-pet_box-img_title h2{
  
    margin-bottom: 0
}

.next-pet_box-img_title h2 i{
    padding: 6px;
    font-size: 12px;
    position: relative;
    bottom: 4px;
}

.next-pet_box-img_title{
    padding: 10px 10px 6px;
}

.next-pet_box-img_id{
    position: absolute;
    left: 0;
    bottom: 10px;
    top: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.next-pet_box-img_logo{
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.found .next-pet_box-img_title{
    background-color: #ffc000 !important;
}

.reunited .next-pet_box-img_title{
    background-color: #0ab819 !important;
}

.next-pet_box-img_title h2 span{
    color: #fff;
}

.next-pet_box-img_logo img{
    position: static;
    width: 40px;
    height: 40px;
}

.next-pet_box-img_id p{
    position: static;
    margin: 0;
    padding: 0.3rem 1rem;
    border-radius: 0 6px 0 6px;
}

.reunited .next-pet_box-img_id p{
  background: #0ab819 !important;
}

.blog_catagory .catagory_list a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_catagory .catagory_list a span{
  padding-right: 20px;
}

.social-networks{
  margin-top: 70px;
}

.social-networks > h2 span{
  font-family: 'Nexa light', Roboto;
  font-weight: 600;
  font-size: 24px;
}

.social-networks__items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.social-networks__items a{
    display: block;
    max-width: 40px;
    margin-right: 10px;
}

.social-networks__items a img{
  max-width: 100%; 
}

.blog-message{
  text-align: center;
  font-size: 14px;
}

.comment__item, .reply__item{
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.empty-comments{
  display: block;
  text-align: center;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  margin-top: 20px;
}
/* .petdetails-img{
  height: 400px;
  max-height: 400px;
  display: flex;
  align-items: center;
} */

.user-panel_sidebar .alert-map_overly, .user-panel_inner .alert-map_overly,
.user-panel_sidebar .alert-map_icon, .user-panel_inner .alert-map_icon,
.user-panel_sidebar .alert-map_btn, .user-panel_inner .alert-map_btn{
  z-index: 12;
}

header .hero-attention{
  padding-top: 32rem;
}

.auto-height{
  min-height: auto !important;
  height: auto !important;
  background-image: none !important;
  background: transparent !important;
}

.auto-height #copy-image{
  position: static !important;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sa-button-container{
  margin-top: 40px;
}

.sa-button-container button{
    min-width: 150px;
    -webkit-border-radius: 25rem;
    border-radius: 25rem;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    margin: 0 1rem 17px;
    font-size: 20px;
}

.sweet-alert h2{
  font-size: 30px;
}

#accordionFAQ{
  margin-bottom: 50px;
}

#accordionFAQ .card-header{
  font-size: 18px;
}

.joinournetwork-content_inner-social_body-item a{
  font-size: 2rem;
  font-family: 'Hobo Std Medium', Roboto;
  color: #3e3e3e !important;
  background: transparent !important;
}

.user-panel_inner-side_nav .user_nav-link i{
  width: 30px;
  text-align: center; 
}

header .hero-attention .list-group-item span i{
  width: 25px;
  text-align: center;
}

header .hero-attention .list-group-item span{
  margin-right: 1.1rem;
}

#primary .entry-content img{
  max-width: 100%
}

.dashboard_link a.user_nav-link i{
  width: 30px;
}

.blog_banner h2{
    font-family: 'Hobo Std Medium', cursive;
    font-size: 50px;
    color: #fff;
}

.blog_banner h2 span:nth-child(1) {
    display: block;
    font-size: 92px;
    margin-left: 10px;
}

.blog_banner h2 span:nth-child(2) {
    color: #df1d41;
    text-shadow: 0px 0px 8px rgba(0, 0, 0);
}

.comment-author-name{
  width: 80px;
  height: 80px;
  background: #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  color: #3e3e3e;
}

.phone-btn{
  cursor: pointer;
}

@media(max-width: 768px){
  .user-panel_inner-side_nav{
    display: none;
  }

  .alert-map #map{
    height: 200px !important;
  }

  .user-panel_inner .alert-map_btn{
    bottom: 35px;
  }

  .user-panel_inner .alert-map_btn a{
    padding: 0.5rem !important;
    font-size: 1.4rem;
    white-space: nowrap;
  }

  .petdetails-lost .tag-lost, .petdetails-reunited .tag-reunited, .petdetails-found .tag-found{
    width: initial !important;
  }
}

@media(max-width: 480px){
  .user-another-report_form .panel-heading a{
    font-size: 12px !important;
  }

  #lost-report-form .input-group, #found-report-form .input-group{
    margin: 0 auto !important;
  }
    .joinournetwork-content_inner-search .has-search{
        width:100% !important;
    }
  .pagination{
    max-width: 100%;
    overflow-x: scroll;
    justify-content: flex-start; 
  }

  .petdetails-title span{
    font-size: 30px;
    text-align: center;
  }
}
