/* --- CUSTOM FONTS --- */
@font-face {
    font-family: 'Nexa Light Regular', Roboto;
    src: url('../webfonts/nexa/Nexa Light.otf');
}

@font-face {
    font-family: 'Nexa Bold', Roboto;
    src: url('../webfonts/nexa/Nexa Bold.otf');
}

@font-face {
  font-family: 'FS Sammy Regular', cursive;
  src: url('../webfonts/fs/FS Sammy-Regular.otf');
}

@font-face {
  font-family: 'Hobo Std Medium', cursive;
  src: url('../webfonts/hobo/Hobo Std Medium.ttf');
}

body {
    @include roboto-font;
    font-weight: 400;
    line-height: 1.7;
}
