// site utilities classess
.pawInfo {
  font-weight: 700;
  color: $red-drak;
  transition: all 0.2s;

  &:hover {
    color: $red-light;
  }
}
.tag-lost {
  color: $white;
  background-color: $red-drak;
}

.lost-btn {
  background-color: $red-drak;
  &:hover {
    color: $white;
    background-color: $red-light;
  }
}

.tag-found {
  color: $white;
  background-color: $yellow-dark;
}

.tag-reunite {
  color: $white;
  background-color: $green-drak;
}

.bg-overly {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba($black, 0.5);
}

.s-title {
  font-size: $font-72;
  font-family: 'Hobo Std Medium', Roboto;
  font-weight: bold;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background-color: $red-drak;
  padding: 2.5rem 0;

  @media (min-width: 576px) and (max-width: 767px) {
    font-size: $font-56;
  }

  @media (min-width: 300px) and (max-width: 575px) {
    font-size: $font-32;
  }
}

.ss-title {
  font-size: $font-38;
  @include roboto-font;
  text-align: center;
  text-transform: capitalize;
}

.except-home-bg {
  background-color: $gray-6 !important;
}

.gray-bg {
  background-color: $gray-16 !important;
}

.section-dog-bg {
  height: 338px;
  width: 100%;
  margin: 0 0 5rem 0;
  padding: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 768px) and (max-width: 991px) {
    height: 62vh;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    height: 52vh;
  }

  @media (min-width: 300px) and (max-width: 575px) {
    height: 42vh;
  }
}
.others-page-title {
  text-align: center;
  text-transform: capitalize;
  background-color: $red-drak;
  padding: 1.2rem 1rem 0.5rem 1rem;
  border-radius: 8px;

  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
  }

  img {
    width: 3.6rem;
    height: 3.6rem;
    margin-top: -10px;
  }

  span {
    font-size: $font-32;
    font-family: 'Hobo Std Medium', Roboto;
    color: $white;
    margin: 0 4rem;

    @media (min-width: 992px) and (max-width: 1199px) {
      margin: 0 2rem;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      margin: 0 3rem;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      margin: 0 2rem;
    }

    @media (min-width: 300px) and (max-width: 575px) {
      margin: 0 0.4rem;
    }
  }
}
.others-page_hero-title {
  font-size: $font-62;
  font-family: 'Hobo Std Medium', Roboto;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding-top: 9rem;
  line-height: 1;

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: $font-48;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    font-size: $font-32;
  }

  @media (min-width: 300px) and (max-width: 575px) {
    font-size: $font-28;
    padding-top: 7.5rem;
  }
}

.newsletter-input {
  position: relative;

  .form-control {
    font-size: $font-16;
    color:  $white;
    background-color: transparent !important;
    padding: 2.5rem 0 2.5rem 3rem !important;
    border: 1px solid $white !important;
    border-radius: 5px !important;

    @media (min-width: 992px) and (max-width: 1119px) {
      padding: 2.5rem 0 2.5rem 1rem !important;
    }

    &::-webkit-input-placeholder {
      font-size: $font-20;
      font-weight: 300;
      color:  $white;
      text-transform: capitalize;
      text-align: left;
    }

    &:focus {
      outline: 0 !important;
      outline-color: transparent !important;
      outline-width: 0 !important;
      outline-style: none !important;
      border-color: transparent;
      box-shadow: unset !important;
    }
  }

  .email-icon {
    background-color: $white;
    padding: 1.3rem !important;
    position: absolute;
    right: 0;
    border-radius: 6px;

    i {
      font-size: $font-24;
      color: $red-drak;
    }
  }
}

.has-search {
  position: relative;
  width: 15rem;

  .form-control-zip {
    position: absolute;
    z-index: 2;
    display: block;
    font-size: $font-16;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: $gray-3 !important;
    top: 10px;
    left: 25px;
  }

  .form-control {
    padding: 2rem 0 2rem 5rem!important;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: unset !important;
    background-color: $gray-2;
    border-radius: 6px;
    font-size: $font-16;
    font-weight: 400;
    &:focus {
      outline: 0 !important;
    }
  }
}

.zip-code_btn {
  font-size: $font-14;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  color: $white;
  background-color: $red-drak;
  padding: 0.5rem 1rem;
  border-radius: 6px;

  transition: all 0.4s;

  &:hover {
    background-color: $red-light !important;
  }
}

.vertical-line {
  width: 3px;
  background-color: $red-drak;
}

.g-recaptcha{
  margin: 4% auto;
  width: 100%;
}

.zoomIn {
  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
}

.zoomOut {
  img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    &:hover {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

figure {
  overflow: hidden;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1.5rem;

    @media (min-width: 992px) and (max-width: 1199px) {
      margin-right: .5rem;
    }
  }
}

.social-links li a {
  background-color: transparent;
  color: $white;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline-block;
  text-align: center;
}

.social-links li i {
  font-size: $font-36;

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: $font-32;
  }
}

.social-links li a.facebook:hover {
 color: $fb-light;
}

.social-links li a.google:hover {
  color: #dd4b39;
}

.social-links li a.twitter:hover {
  color: #00aced;
}

.social-links li a.youtube:hover {
  color: #ff0000;
}

.social-links li a.instagram:hover {
  color: #833ab4;
}

@media (min-width: 300px) and (max-width: 767px) {
  .mb-xs-5 {
    margin-bottom: 3rem !important;
  }
  .mt-xs-5 {
    margin-top: 3rem !important;
  }
  .d-xs-none {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .d-xl-none {
    display: none !important;
  }
}

.basic {color: $basic !important;}
.standard {color: $standard !important}
.premium {color: $premium !important}

// Logos
img.logo {
  width: 195px;
  height: 46px;
}

img.circle-logo-50 {
  width: 50px;
  height: 50px;
}

.gray-bg-4 {background-color: #d4d4d4!important;}

// Corner Ribon
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: $white;
  font: 500 16px/1 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}


// customize of bootstrap classes
button:focus {
  outline: 0 !important;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;
}

.touch-location {
  cursor: default !important;
}

input, button, submit { border:none; }
input:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  border-color: transparent;
  box-shadow: unset !important;
}

.datepicker td, .datepicker th {
  font-size: $font-14;
}

.datepicker table tr td span {
  font-size: $font-16;
}

.gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group span {
  visibility: hidden !important;
  display: none !important;
}

.col-xs-6 {width: 50% !important;}

.f-mb {margin-bottom: 0!important;}
.use-panel_bg {background-color: $red-drak !important}
