// COLORS
$color-base: #F1F1F1;

$red-drak: #df1d41;
$red-light: #b81f3b;
//$red-light: #ec4b50;
//$yellow-dark: #fea400;
//$yellow-light: #f6b93b;
$yellow-dark: #ffc000;
$yellow-light: #da8e00;
//$yellow-light: #ffdf5c;

$basic: #d2610d;
$standard: #ffc000;
$premium: #df1d41;

$log: #c24c4b;
$red-1: #fef6f6;


$green-drak: #0ab819;
//$green-drak: #079d00;
$green-light: #079d00;
//$green-light: #20bf6b;
//$green-light: #6ad26a;
//$green-drak: #55c57a;
$gray-1: #edeaeb;
$gray-2: #d4d4d4;
$gray-3: #737373;
$gray-4: #3e3e3e;
$gray-5: #f0e8e8;
$gray-6: #f6f5f2;
$gray-7: #e4dfd6;
$gray-8: #e5dede;
$gray-9: #dedede;
$gray-10: #303030;
$gray-11: #e4e4e4;
$gray-12: #2c2c2c;
$gray-13: #f5f5f5;
$gray-14: #3c3434;
$gray-15: #eaeaea;
$gray-16: #dedede;

$fb-dark: #002c60;
$fb-light: #3b5998;

// Restated Bootstrap Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;



// FONT SIZE
$font-10: 1rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-22: 2.2rem;
$font-24: 2.4rem;
$font-26: 2.6rem;
$font-28: 2.8rem;
$font-32: 3.2rem;
$font-36: 3.6rem;
$font-38: 3.8rem;
$font-42: 4.2rem;
$font-46: 4.6rem;
$font-48: 4.8rem;
$font-56: 5.6rem;
$font-62: 6.2rem;
$font-72: 7.2rem;
$font-102: 10.2rem;

// Shadow
$dark-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$dark-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$light-shadow: 0 5px 10px -5px rgba(0,0,0,.1);
$nav-shadow: 0 5px 10px -5px rgba(0,0,0,.4);
$light-radious: 8px;


